


<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Two Columns &raquo; Pattern Library</title>
<meta name="description" content="St. George's University">

<!-- preconnects -->
<link rel="preconnect" href="https://images.fastspot.com">
<link rel="preconnect" href="https://api.fonts.coollabs.io">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- stylesheets -->
<link media="all" rel="stylesheet" href="https://api.fonts.coollabs.io/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap">
<link media="all" rel="stylesheet" href="/css/site.css">



<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#1e1e64">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#1e1e64">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#1e1e64">
<!-- misc meta -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<!-- IMPORTANT - REMOVE THIS FROM ANY CMS IMPLEMENTATION AS IT PREVENTS INDEXING -->
<meta name="robots" content="noindex">

<!-- Facebook -->
<meta property="og:title" content="St. George's University">
<meta property="og:type" content="website">
<meta property="og:image" content="https://https://static.sgu.dev.fastspot.com//social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="St. George's University">
<meta property="og:site_name" content="St. George's University">

<!-- twitter -->
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@stgeorgesu">
	<meta name="twitter:creator" content="@stgeorgesu">
	<meta name="twitter:url" content="//twitter.com/stgeorgesu">
	<meta name="twitter:title" content="St. George's University">
	<meta name="twitter:description" content="St. George's University">
	<meta name="twitter:image" content="http://https://static.sgu.dev.fastspot.com//social.png">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5FWHMLH');</script>
<!-- End Google Tag Manager -->	</head>

	<body class="preload fs-grid theme-default ">
		

			
	<div class="wp-site-blocks">
		<div class="is-layout-flex wp-block-columns has_children child_count_2">
							<div class="is-layout-flow wp-block-column">
					<div class="wp-block wp-block-cta-background">
						<div class="cta_background">
	<div class="fs-row cta_background_row">
		<div class="fs-cell cta_background_cell">
			<div class="cta_background_inner">
				<div class="cta_background_media">
																	<div class="js-background-video-wrapper page_header_bg_video" data-background-video='{"display":"background","id":"85480265","type":"vimeo","title":null,"autoplay":true}'>
							<div class=" page_header_bg_video_iframe_wrap">
								<div class=" page_header_bg_video_iframe_target js-iframe-target"></div>
							</div>
							<div class="cta_background_video_controls">
								

<button class="page_header_bg_video_play_button js-page-header-bg-video-play-button">
	<span class="page_header_bg_video_play_button_inner">
		<span class="page_header_bg_video_play_button_label">Play Video</span>
				<span class="page_header_bg_video_play_button_icon" aria-hidden="true">
			
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		
		</span>
			</span>
</button>								

<button class="page_header_bg_video_pause_button js-page-header-bg-video-pause-button">
	<span class="page_header_bg_video_pause_button_inner">
		<span class="page_header_bg_video_pause_button_label">Pause Video</span>
				<span class="page_header_bg_video_pause_button_icon" aria-hidden="true">
			
			<svg class="icon icon_pause">
				<use href="/images/icons.svg#pause" />
			</svg>
		
		</span>
			</span>
</button>							</div>
						</div>
										<figure class="cta_background_figure">
													
<picture class="cta_background_picture">
		<source media="(min-width: 1220px)" srcset="https://images.fastspot.com/generic/960x1440/1" width="960" height="1440">
		<source media="(min-width: 980px)" srcset="https://images.fastspot.com/generic/814x1220/1" width="814" height="1220">
		<source media="(min-width: 740px)" srcset="https://images.fastspot.com/generic/654x980/1" width="654" height="980">
		<source media="(min-width: 500px)" srcset="https://images.fastspot.com/generic/494x740/1" width="494" height="740">
		<img class="cta_background_image" src="//images.fastspot.com/generic/200x300/1" alt="" loading="lazy" width="200" height="300">
</picture>											</figure>
				</div>
				<div class="cta_background_content">
					<span class="cta_background_icon" aria-hidden="true">
			<svg class="icon icon_360">
				<use href="/images/icons.svg#360" />
			</svg>
		</span>
					<h2 class="cta_background_title">Unbeatable Campus Experience</h2>
											<span class="cta_background_description">SGU School of Medicine is the #1 provider of doctors into first-year US residencies for the last 12 years combined.</span>
																<a href="#" class="cta_background_link">Take A Virtual Tour</a>
									</div>
			</div>
		</div>
	</div>
</div>
					</div>

					<div class="wp-block wp-block-cta-background">
						<div class="cta_background">
	<div class="fs-row cta_background_row">
		<div class="fs-cell cta_background_cell">
			<div class="cta_background_inner">
				<div class="cta_background_media">
																	<div class="js-background-video-wrapper page_header_bg_video" data-background-video='{"display":"background","id":"85480265","type":"vimeo","title":null,"autoplay":true}'>
							<div class=" page_header_bg_video_iframe_wrap">
								<div class=" page_header_bg_video_iframe_target js-iframe-target"></div>
							</div>
							<div class="cta_background_video_controls">
								

<button class="page_header_bg_video_play_button js-page-header-bg-video-play-button">
	<span class="page_header_bg_video_play_button_inner">
		<span class="page_header_bg_video_play_button_label">Play Video</span>
				<span class="page_header_bg_video_play_button_icon" aria-hidden="true">
			
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		
		</span>
			</span>
</button>								

<button class="page_header_bg_video_pause_button js-page-header-bg-video-pause-button">
	<span class="page_header_bg_video_pause_button_inner">
		<span class="page_header_bg_video_pause_button_label">Pause Video</span>
				<span class="page_header_bg_video_pause_button_icon" aria-hidden="true">
			
			<svg class="icon icon_pause">
				<use href="/images/icons.svg#pause" />
			</svg>
		
		</span>
			</span>
</button>							</div>
						</div>
										<figure class="cta_background_figure">
													
<picture class="cta_background_picture">
		<source media="(min-width: 1220px)" srcset="https://images.fastspot.com/generic/960x1440/1" width="960" height="1440">
		<source media="(min-width: 980px)" srcset="https://images.fastspot.com/generic/814x1220/1" width="814" height="1220">
		<source media="(min-width: 740px)" srcset="https://images.fastspot.com/generic/654x980/1" width="654" height="980">
		<source media="(min-width: 500px)" srcset="https://images.fastspot.com/generic/494x740/1" width="494" height="740">
		<img class="cta_background_image" src="//images.fastspot.com/generic/200x300/1" alt="" loading="lazy" width="200" height="300">
</picture>											</figure>
				</div>
				<div class="cta_background_content">
					<span class="cta_background_icon" aria-hidden="true">
			<svg class="icon icon_360">
				<use href="/images/icons.svg#360" />
			</svg>
		</span>
					<h2 class="cta_background_title">Unbeatable Campus Experience</h2>
											<span class="cta_background_description">SGU School of Medicine is the #1 provider of doctors into first-year US residencies for the last 12 years combined.</span>
																<a href="#" class="cta_background_link">Take A Virtual Tour</a>
									</div>
			</div>
		</div>
	</div>
</div>
					</div>
				</div>
							<div class="is-layout-flow wp-block-column">
					<div class="wp-block wp-block-cta-background">
						<div class="cta_background">
	<div class="fs-row cta_background_row">
		<div class="fs-cell cta_background_cell">
			<div class="cta_background_inner">
				<div class="cta_background_media">
																	<div class="js-background-video-wrapper page_header_bg_video" data-background-video='{"display":"background","id":"85480265","type":"vimeo","title":null,"autoplay":true}'>
							<div class=" page_header_bg_video_iframe_wrap">
								<div class=" page_header_bg_video_iframe_target js-iframe-target"></div>
							</div>
							<div class="cta_background_video_controls">
								

<button class="page_header_bg_video_play_button js-page-header-bg-video-play-button">
	<span class="page_header_bg_video_play_button_inner">
		<span class="page_header_bg_video_play_button_label">Play Video</span>
				<span class="page_header_bg_video_play_button_icon" aria-hidden="true">
			
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		
		</span>
			</span>
</button>								

<button class="page_header_bg_video_pause_button js-page-header-bg-video-pause-button">
	<span class="page_header_bg_video_pause_button_inner">
		<span class="page_header_bg_video_pause_button_label">Pause Video</span>
				<span class="page_header_bg_video_pause_button_icon" aria-hidden="true">
			
			<svg class="icon icon_pause">
				<use href="/images/icons.svg#pause" />
			</svg>
		
		</span>
			</span>
</button>							</div>
						</div>
										<figure class="cta_background_figure">
													
<picture class="cta_background_picture">
		<source media="(min-width: 1220px)" srcset="https://images.fastspot.com/generic/960x1440/1" width="960" height="1440">
		<source media="(min-width: 980px)" srcset="https://images.fastspot.com/generic/814x1220/1" width="814" height="1220">
		<source media="(min-width: 740px)" srcset="https://images.fastspot.com/generic/654x980/1" width="654" height="980">
		<source media="(min-width: 500px)" srcset="https://images.fastspot.com/generic/494x740/1" width="494" height="740">
		<img class="cta_background_image" src="//images.fastspot.com/generic/200x300/1" alt="" loading="lazy" width="200" height="300">
</picture>											</figure>
				</div>
				<div class="cta_background_content">
					<span class="cta_background_icon" aria-hidden="true">
			<svg class="icon icon_360">
				<use href="/images/icons.svg#360" />
			</svg>
		</span>
					<h2 class="cta_background_title">Unbeatable Campus Experience</h2>
											<span class="cta_background_description">SGU School of Medicine is the #1 provider of doctors into first-year US residencies for the last 12 years combined.</span>
																<a href="#" class="cta_background_link">Take A Virtual Tour</a>
									</div>
			</div>
		</div>
	</div>
</div>
					</div>

					<div class="wp-block wp-block-cta-background">
						<div class="cta_background">
	<div class="fs-row cta_background_row">
		<div class="fs-cell cta_background_cell">
			<div class="cta_background_inner">
				<div class="cta_background_media">
																	<div class="js-background-video-wrapper page_header_bg_video" data-background-video='{"display":"background","id":"85480265","type":"vimeo","title":null,"autoplay":true}'>
							<div class=" page_header_bg_video_iframe_wrap">
								<div class=" page_header_bg_video_iframe_target js-iframe-target"></div>
							</div>
							<div class="cta_background_video_controls">
								

<button class="page_header_bg_video_play_button js-page-header-bg-video-play-button">
	<span class="page_header_bg_video_play_button_inner">
		<span class="page_header_bg_video_play_button_label">Play Video</span>
				<span class="page_header_bg_video_play_button_icon" aria-hidden="true">
			
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		
		</span>
			</span>
</button>								

<button class="page_header_bg_video_pause_button js-page-header-bg-video-pause-button">
	<span class="page_header_bg_video_pause_button_inner">
		<span class="page_header_bg_video_pause_button_label">Pause Video</span>
				<span class="page_header_bg_video_pause_button_icon" aria-hidden="true">
			
			<svg class="icon icon_pause">
				<use href="/images/icons.svg#pause" />
			</svg>
		
		</span>
			</span>
</button>							</div>
						</div>
										<figure class="cta_background_figure">
													
<picture class="cta_background_picture">
		<source media="(min-width: 1220px)" srcset="https://images.fastspot.com/generic/960x1440/1" width="960" height="1440">
		<source media="(min-width: 980px)" srcset="https://images.fastspot.com/generic/814x1220/1" width="814" height="1220">
		<source media="(min-width: 740px)" srcset="https://images.fastspot.com/generic/654x980/1" width="654" height="980">
		<source media="(min-width: 500px)" srcset="https://images.fastspot.com/generic/494x740/1" width="494" height="740">
		<img class="cta_background_image" src="//images.fastspot.com/generic/200x300/1" alt="" loading="lazy" width="200" height="300">
</picture>											</figure>
				</div>
				<div class="cta_background_content">
					<span class="cta_background_icon" aria-hidden="true">
			<svg class="icon icon_360">
				<use href="/images/icons.svg#360" />
			</svg>
		</span>
					<h2 class="cta_background_title">Unbeatable Campus Experience</h2>
											<span class="cta_background_description">SGU School of Medicine is the #1 provider of doctors into first-year US residencies for the last 12 years combined.</span>
																<a href="#" class="cta_background_link">Take A Virtual Tour</a>
									</div>
			</div>
		</div>
	</div>
</div>
					</div>
				</div>
					</div>
	</div>

	<style type="text/css">
		:root {
			--wp--custom--default-spacing: 1.875rem;
			--wp--preset--spacing--extra-large: clamp(3.75rem, calc(2.88rem + 4.35vw), 6.25rem);
			--wp--style--global--content-size: 85.875rem;
		}

		body.is-layout-flex > * {
			margin: 0;
		}

		.wp-block-columns {
			display: flex;
			flex-wrap: wrap;
			gap: var(--wp--custom--default-spacing) 4.09%;
			margin-block-start: var(--wp--preset--spacing--extra-large);
			margin-block-end: var(--wp--preset--spacing--extra-large);
		}

		.wp-block-column {
			min-width: 0;
			
			word-break: break-word;
			overflow-wrap: break-word;
		}

		@media (max-width: 781px) {
			.wp-block-column {
				flex-basis: 100% !important;
			}
		}

		@media (min-width: 782px) {
			.wp-block-column {
				flex-basis: 0;
				flex-grow: 1;
			}
		}

		.wp-block-column.is-layout-flow > * + * {
			margin-block-start: var(--wp--custom--default-spacing);
			margin-block-end: 0;
		}
	</style>

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
			var STATIC_ICONS_PATH = "../../images/icons.svg";
		</script>

		<script src="../../vendor/jquery/jquery.3.5.1.min.js"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
		
		<link id="fs-grid-styles" rel="stylesheet" href="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.css" type="text/css" media="all">
		<script src="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.js"></script>
		<script>
			$(window).on('load', function () {
				new FSGridBookmarklet();
			});
		</script>
	</body>
</html>

