


<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Default &raquo; Pattern Library</title>
<meta name="description" content="St. George's University">

<!-- preconnects -->
<link rel="preconnect" href="https://images.fastspot.com">
<link rel="preconnect" href="https://api.fonts.coollabs.io">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- stylesheets -->
<link media="all" rel="stylesheet" href="https://api.fonts.coollabs.io/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap">
<link media="all" rel="stylesheet" href="/css/site.css">



<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#1e1e64">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#1e1e64">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#1e1e64">
<!-- misc meta -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<!-- IMPORTANT - REMOVE THIS FROM ANY CMS IMPLEMENTATION AS IT PREVENTS INDEXING -->
<meta name="robots" content="noindex">

<!-- Facebook -->
<meta property="og:title" content="St. George's University">
<meta property="og:type" content="website">
<meta property="og:image" content="https://https://static.sgu.dev.fastspot.com//social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">
<meta property="og:description" content="St. George's University">
<meta property="og:site_name" content="St. George's University">

<!-- twitter -->
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@stgeorgesu">
	<meta name="twitter:creator" content="@stgeorgesu">
	<meta name="twitter:url" content="//twitter.com/stgeorgesu">
	<meta name="twitter:title" content="St. George's University">
	<meta name="twitter:description" content="St. George's University">
	<meta name="twitter:image" content="http://https://static.sgu.dev.fastspot.com//social.png">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5FWHMLH');</script>
<!-- End Google Tag Manager -->	</head>

	<body class="preload fs-grid theme-default ">
		

					<div>
				<div class="news_related_categories news_related_stacked">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_related_categories_inner">
				<div class="news_related_categories_header">
					<div class="news_related_categories_header_inner">
						<h2 class="news_related_categories_title">Related Articles</h2>
					</div>
				</div>
				<div class="news_related_categories_body">
					<ul class="news_related_categories_items" aria-label="Related Articles">
													<li class="news_related_categories_item">
																	<figure class="news_related_categories_item_figure">
										<a class="news_related_categories_item_figure_link" href="page-news-detail.html" aria-label="Read more about From The Deep South To Down Under: How This SVM Grad Found “The Place To Be”" tabindex="-1">
											
<img class="news_related_categories_item_image" srcset="https://images.fastspot.com/generic/980x654/1 980w, https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
										</a>
																				<span class="news_related_categories_item_figure_icon">
			<svg class="icon icon_video">
				<use href="/images/icons.svg#video" />
			</svg>
		</span>
																			</figure>
																<div class="news_related_categories_item_wrapper">
									<div class="news_related_categories_item_header">
										<h3 class="news_related_categories_item_title">
											
<a href="page-news-detail.html" class="news_related_categories_item_title_link" >
	<span class="news_related_categories_item_title_link_inner">
					<span class="news_related_categories_item_title_link_label">From The Deep South To Down Under: How This SVM Grad Found “The Place To Be”</span>
						</span>
</a>										</h3>
										<div class="news_related_categories_item_header_group">
																							<div class="news_related_categories_item_date">
													<span class="news_related_categories_item_date_hint">Published:&nbsp;</span>
													<time class="news_related_categories_item_date_label" datetime="2022-04-28 17:00:00">April 28, 2022</time>
												</div>
																																		<div class="news_related_categories_item_categories">
													<div class="news_related_categories_item_category_hint">Categories</div>
													<ul class="news_related_categories_item_category_list" aria-label="Categories">
																													<li class="news_related_categories_item_category">
																<a class="news_related_categories_item_category_link" href="page-news-category.html">Profile</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
									<div class="news_related_categories_item_body">
																			</div>
								</div>
							</li>
													<li class="news_related_categories_item">
																	<figure class="news_related_categories_item_figure">
										<a class="news_related_categories_item_figure_link" href="page-news-detail.html" aria-label="Read more about NCFMEA: SGU Med School Accreditor On Par With US Schools" tabindex="-1">
											
<img class="news_related_categories_item_image" srcset="https://images.fastspot.com/generic/980x654/2 980w, https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
										</a>
																				<span class="news_related_categories_item_figure_icon">
			<svg class="icon icon_podcast">
				<use href="/images/icons.svg#podcast" />
			</svg>
		</span>
																			</figure>
																<div class="news_related_categories_item_wrapper">
									<div class="news_related_categories_item_header">
										<h3 class="news_related_categories_item_title">
											
<a href="page-news-detail.html" class="news_related_categories_item_title_link" >
	<span class="news_related_categories_item_title_link_inner">
					<span class="news_related_categories_item_title_link_label">NCFMEA: SGU Med School Accreditor On Par With US Schools</span>
						</span>
</a>										</h3>
										<div class="news_related_categories_item_header_group">
																							<div class="news_related_categories_item_date">
													<span class="news_related_categories_item_date_hint">Published:&nbsp;</span>
													<time class="news_related_categories_item_date_label" datetime="2022-04-28 17:00:00">April 28, 2022</time>
												</div>
																																		<div class="news_related_categories_item_categories">
													<div class="news_related_categories_item_category_hint">Categories</div>
													<ul class="news_related_categories_item_category_list" aria-label="Categories">
																													<li class="news_related_categories_item_category">
																<a class="news_related_categories_item_category_link" href="page-news-category.html">Announcement</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
									<div class="news_related_categories_item_body">
																			</div>
								</div>
							</li>
													<li class="news_related_categories_item">
																	<figure class="news_related_categories_item_figure">
										<a class="news_related_categories_item_figure_link" href="page-news-detail.html" aria-label="Read more about New SGU Orthopaedic Surgery Club Preps Students For Competitive Specialty" tabindex="-1">
											
<img class="news_related_categories_item_image" srcset="https://images.fastspot.com/generic/980x654/3 980w, https://images.fastspot.com/generic/740x494/3 740w, https://images.fastspot.com/generic/500x334/3 500w, https://images.fastspot.com/generic/300x200/3 300w" src="https://images.fastspot.com/generic/300x200/3" alt="" loading="lazy" width="300" height="200">
										</a>
																			</figure>
																<div class="news_related_categories_item_wrapper">
									<div class="news_related_categories_item_header">
										<h3 class="news_related_categories_item_title">
											
<a href="page-news-detail.html" class="news_related_categories_item_title_link" >
	<span class="news_related_categories_item_title_link_inner">
					<span class="news_related_categories_item_title_link_label">New SGU Orthopaedic Surgery Club Preps Students For Competitive Specialty</span>
						</span>
</a>										</h3>
										<div class="news_related_categories_item_header_group">
																							<div class="news_related_categories_item_date">
													<span class="news_related_categories_item_date_hint">Published:&nbsp;</span>
													<time class="news_related_categories_item_date_label" datetime="2022-04-28 17:00:00">April 28, 2022</time>
												</div>
																																		<div class="news_related_categories_item_categories">
													<div class="news_related_categories_item_category_hint">Categories</div>
													<ul class="news_related_categories_item_category_list" aria-label="Categories">
																													<li class="news_related_categories_item_category">
																<a class="news_related_categories_item_category_link" href="page-news-category.html">Profile</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
									<div class="news_related_categories_item_body">
																			</div>
								</div>
							</li>
											</ul>
				</div>
			</div>
		</div>
	</div>
</div>
			</div>
		
		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../index.html";
			var STATIC_ICONS_PATH = "../../images/icons.svg";
		</script>

		<script src="../../vendor/jquery/jquery.3.5.1.min.js"></script>

					
		
		<script src="../../js/site.js"></script>

					
		
		
		<link id="fs-grid-styles" rel="stylesheet" href="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.css" type="text/css" media="all">
		<script src="../../vendor/formstone/bookmarklet/bookmarklet.1.2.1.js"></script>
		<script>
			$(window).on('load', function () {
				new FSGridBookmarklet();
			});
		</script>
	</body>
</html>

