<!-- Page Content -->
<div class="page_content">
	<!-- Full Width Callouts -->
	<div class="full_width_callouts">
		{% render '@component-facts-stats-columns' %}

		{% render '@component-pathways' %}

		{% render '@component-related-news-cards' %}

		{% render '@component-cta-background' %}

		{% render '@component-topic-row-columns' %}
	</div>
	<!-- END: Full Width Callouts -->
</div>