/* ==========================================================================
	Featured Blog Articles
============================================================================= */

.featured_articles {
	@include padded_xl;
}

.featured_articles_inner {
}

.featured_articles_header {
	margin-bottom: 20px;

	@media #{$min_md} {
		margin-bottom: 40px;
	}

	@media #{$min_xl} {
		margin-bottom: 58px;
	}
}

.featured_articles_title {
	@include h2;

	color: $blue_navy;
	margin: 0;
}

.featured_articles_body {
	@media #{$min_lg} {
		display: flex;

		flex-direction: row-reverse;
		gap: 10px;
	}

	@media #{$min_xl} {
		gap: 50px;
	}

	@media #{$min_xxl} {
		gap: 80px;
	}

	@include inside_gutenberg_column {
		@media #{$min_lg} {
			display: grid;
			gap: 40px;
		}
	}
}

.featured_articles_main_feature {
	margin-bottom: 24px;

	@media #{$min_md} {
		margin-bottom: 36px;
	}

	@media #{$min_lg} {
		width: 440px;

		margin-bottom: 0;
		padding-left: 40px;
	}

	@media #{$min_xl} {
		width: 540px;

		padding-left: 0;
	}

	@media #{$min_xxl} {
		width: 640px;
	}

	@include inside_gutenberg_column {
		@media #{$min_lg} {
			padding-left: 0;
		}
	}
}

.main_feature_figure {
	@include responsive_image;

	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;

	@media #{$min_md} {
		margin-bottom: 30px;
	}
}

.main_feature_image {
	border-radius: 5px;
	transition: transform 1s;
	will-change: transform;
}

.main_feature_wrapper {
	display: flex;

	flex-direction: column;
}

.main_feature_title {
	@include h3;

	color: $black;
	margin: 0;
	order: 1;
}

.main_feature_title_link {
	color: currentColor;

	@include hover {
		text-decoration: underline;
	}
}

.main_feature_categories {
	margin-bottom: 10px;
	order: 0;

	@media #{$min_md} {
		margin-bottom: 12px;
	}

	@media #{$min_lg} {
		margin-bottom: 10px;
	}

	@media #{$min_xl} {
		margin-bottom: 12px;
	}
}

.main_feature_category {
	@include h6;

	color: $blue_navy;

	@include hover {
		text-decoration: underline;
	}
}

.main_feature_description {
	@include body_text;

	margin-top: 12px;
	order: 2;

	@media #{$min_md} {
		margin-top: 24px;
	}

	@media #{$min_lg} {
		margin-top: 12px;
	}

	@media #{$min_xl} {
		margin-top: 24px;
	}
}

.featured_articles_list {
	@media #{$min_lg} {
		width: calc(100% - 450px);
	}

	@media #{$min_xl} {
		width: calc(100% - 590px);
	}

	@media #{$min_xxl} {
		width: calc(100% - 720px);
	}

	@include inside_gutenberg_column {
		@media #{$min_lg} {
			width: auto;
		}
	}
}

.featured_articles_item {
	&:not(:last-child) {
		margin-bottom: 28px;

		@media #{$min_lg} {
			margin-bottom: 32px;
		}

		@media #{$min_xl} {
			margin-bottom: 50px;
		}
	}

	@media #{$min_sm} {
		display: flex;

		gap: 20px;
	}

	@include inside_gutenberg_column {
		@media #{$min_md $and_max_lg} {
			display: grid;
		}
	}
}

.featured_articles_item_figure {
	@include responsive_image;

	border-radius: 5px;
	overflow: hidden;

	@media #{$min_sm} {
		flex: 0 0 150px;

		border-radius: 2px;
	}
}

.featured_articles_item_image {
	border-radius: 5px;
	transition: transform 1s;
	will-change: transform;

	@media #{$min_md} {
		border-radius: 2px;
	}
}

.featured_articles_item_wrapper {
	display: flex;

	flex-direction: column-reverse;
	margin-top: 12px;

	@media #{$min_md} {
		width: calc(100% - 170px);

		justify-content: flex-end;
		margin-top: 0;
	}

	@include inside_gutenberg_column {
		@media #{$min_md $and_max_lg} {
			width: auto;
		}
	}
}

.featured_articles_item_title {
	@include h5;

	color: $black;
	margin: 0;
}

.featured_articles_item_title_link {
	color: currentColor;

	@include hover {
		text-decoration: underline;
	}
}

.featured_articles_item_categories {
	margin-bottom: 5px;

	@media #{$min_md} {
	}
}

.featured_articles_item_category {
	@include h6;

	color: $blue_navy;

	@include hover {
		text-decoration: underline;
	}
}

.featured_articles_view_more_link {
	@include sgu_button($turquoise, $blue_navy);

	display: inline-block;
}
