/* ==========================================================================
	Card Group
============================================================================= */

.card_group {
	@include margined_xl;
}

.card_group_header {
	margin-bottom: 30px;
	text-align: center;

	@include inside_gutenberg_column {
		@media #{$min_md} {
			text-align: left;
		}
	}
}

.card_group_header_inner {
}

.card_group_title {
	@include h2;

	margin-block: 0 10px;
}

.card_group_description {
	@include intro_text;

	p {
		margin-block: 0;
	}
}
.card_group_body {
}

.card_group_items {
	display: grid;
	gap: 30px $fs_grid_gap;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

	@media #{$min_lg} {
		grid-template-columns: repeat(3, 1fr);
	}

	&.card_count_2 {
	}

	&.card_count_3 {
	}

	&.card_count_4,
	&.card_count_8 {
		@media #{$min_xl} {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@include inside_gutenberg_column {
		@media #{$min_lg} {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 8%;
		}
	}

	@include inside_gutenberg_column('3') {
		@media #{$min_lg} {
			grid-template-columns: 1fr;
		}

		@media #{$min_xxl} {
			// grid-template-columns: 1fr 1fr;
		}
	}
}

.card_group_item {
}

.card_group_item_figure {
	@include responsive_image;

	border-radius: 5px;
	margin-bottom: 20px;
	overflow: hidden;
}

.card_group_item_image {
	border-radius: 5px;
	transition: transform 1s;
	will-change: transform;
}

.card_group_item_body {
	align-items: start;
	display: grid;
	gap: 10px;
}

.card_group_item_title {
	@include h5;

	margin-block: 0;
}

.card_group_item_title_label {
}

.card_group_item_stat {
	margin-block: 0;
}

.card_group_item_stat_figure {
	@include h2;

	display: block;
}

.card_group_item_stat_context {
	@include h5;

	display: block;
}

.card_group_item_description {
	@include body_text;

	p {
		margin-block: 0;
	}

	a {
		@include type_link;
	}
}

.card_group_item_link {
	color: $blue_navy;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	padding-block: 6px;
	transition: color $base_speed;

	@include hover {
		color: $black;
	}
}

.card_group_item_link_inner {
	margin-left: 2px;
}

.card_group_item_link_label {
}

.card_group_item_link_icon {
	color: $turquoise_dark;

	.icon {
		fill: currentColor;
		transform: translateY(-1px);
	}
}
