/* ==========================================================================
	Topic Row - Columns
============================================================================= */

.topics_columns {
	@include padded_xl;
	--spacing-modifier: 1.5;

	position: relative;

	overflow: hidden;

	&:after {
		width: 550px;
		height: 834px;
		display: block;

		position: absolute;
		left: 25%;
		top: 0;

		background: url('../images/decoration_right.svg') no-repeat;
		background-size: 100%;
		content: '';

		@media #{$min_md} {
			width: 1100px;
			height: 1669px;

			left: calc(100% - 550px);
		}

		@media #{$min_lg} {
			left: calc(100% - 700px);
		}

		@media #{$min_xl} {
			left: auto;
			right: 0;
		}
	}
}

.topics_columns_inner {
	position: relative;
	z-index: 1;

	@media #{$min_lg} {
		display: flex;

		gap: 60px;
	}

	@media #{$min_xl} {
		gap: 100px;
	}

	@media #{$min_xxl} {
		gap: 150px;
	}
}

.topics_columns_header {
	border-bottom: 1px solid $gray_light;
	margin-bottom: 25px;
	padding-bottom: 15px;

	@media #{$min_sm} {
		margin-bottom: 30px;
		padding-bottom: 25px;
	}

	@media #{$min_lg} {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.topics_columns_title {
	@include h2;

	color: $blue_navy;
	margin-block: 0 10px;
}

.topics_columns_title_label {
}

.topics_columns_description {
	@include intro_text;

	p {
		margin-block: 0;
	}
}

.topics_columns_body {
	display: grid;
	gap: 30px;

	@media #{$min_lg} {
		row-gap: 36px;
	}
}

.topic_columns {
	border-bottom: 1px solid $gray_light;
	padding-bottom: 20px;

	@media #{$min_lg} {
		padding-bottom: 36px;
	}
}

.topic_columns_inner {
	overflow: hidden;

	@media #{$min_md} {
		display: flex;
		gap: $fs_grid_gap;
	}
}

.topic_columns_figure {
	@include responsive_image;

	width: 100%;

	margin: 0 0 20px 0;

	@media (min-width: 360px) {
		float: right;
		margin-left: 20px;
	}

	@media #{$min_sm} {
		width: max(30.5%, 115px);
	}

	@media #{$min_md} {
		width: auto;

		flex: 0 0 make_column(2);
		float: none;
		margin: 0;
	}

	@media #{$min_lg} {
		flex-basis: make_column(4);
	}

	@media #{$min_xl} {
		max-width: 360px;
	}
}

.topic_columns_image {
	border-radius: 5px;
}

.topic_columns_wrapper {
}

.topic_columns_header {
}

.topic_columns_title {
	@include h4;

	margin-block: 0 10px;
}

.topic_columns_label {
}

.topic_columns_body {
}

.topic_columns_description {
	@include body_text;

	p {
		margin-block: 0;
	}
}

.topic_columns_links {
	margin-top: 10px;
}

.topic_columns_link_item {
}

.topic_columns_link {
	color: $blue_navy;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	padding-block: 6px;
	transition: color $base_speed;

	@include hover {
		color: $black;
	}
}

.topic_columns_link_inner {
}

.topic_columns_link_label {
}

.topic_columns_link_icon {
	color: $turquoise_dark;
	margin-left: 2px;

	.icon {
		transform: translateY(-1px);
	}
}