<!-- Google CSE -->
<div class="search_results">
	<div class="fs-row fs-lg-justify-center">
		<div class="fs-cell fs-lg-8">
			<div class="search_results_inner">
				<script>
					(function() {
						var cx = '{{ options.global_google.cse_key }}';
						var gcse = document.createElement('script');
						gcse.type = 'text/javascript';
						gcse.async = true;
						gcse.src = '//cse.google.com/cse.js?cx=' + cx;
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(gcse, s);
					})();
				</script>
				{% if results_url %}
				<gcse:searchbox-only resultsUrl="{{ results_url }}"></gcse:searchbox-only>
				{% else %}
				<gcse:search></gcse:search>
				{% endif %}
				<noscript>
					<div class="typography">
						<p>The site search requires a JavaScript enabled browser. You can also search the site using <a href="//www.google.com/#q=site:{{ site.domain }}">Google</a>.</p>
					</div>
				</noscript>
			</div>
		</div>
	</div>
</div>
<!-- END: Google CSE -->