




<!-- Accordion -->
<div class="js-accordion accordion">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="accordion_inner">
									<div class="accordion_header">
													<h2 class="accordion_title">
								<span class="accordion_title_label">Admissions Deadlines</span>
							</h2>
											</div>
								<div class="accordion_items">
											<div class="js-accordion-item js-accordion-item-2-1 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-2-1" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_icon"></span>
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Mar 15</span>
										</span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography has_image" aria-label="Mar 15">
																<figure class="accordion_item_content_figure">
									
<img class="accordion_item_content_image" srcset="https://images.fastspot.com/generic/740x416/1 740w, https://images.fastspot.com/generic/500x282/1 500w, https://images.fastspot.com/generic/300x169/1 300w" src="https://images.fastspot.com/generic/300x169/1" alt="" loading="lazy" width="300" height="169">
								</figure>
																<div class="accordion_item_description">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.</p>
								</div>
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-2-2 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-2-2" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_icon"></span>
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">June 16</span>
										</span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography has_image" aria-label="June 16">
																<figure class="accordion_item_content_figure">
									
<img class="accordion_item_content_image" srcset="https://images.fastspot.com/generic/740x416/2 740w, https://images.fastspot.com/generic/500x282/2 500w, https://images.fastspot.com/generic/300x169/2 300w" src="https://images.fastspot.com/generic/300x169/2" alt="" loading="lazy" width="300" height="169">
								</figure>
																<div class="accordion_item_description">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.</p>
								</div>
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-2-3 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-2-3" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_icon"></span>
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Vulputate Porta Egestas Magna Dolor</span>
										</span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography has_image" aria-label="Vulputate Porta Egestas Magna Dolor">
																<figure class="accordion_item_content_figure">
									
<img class="accordion_item_content_image" srcset="https://images.fastspot.com/generic/740x416/3 740w, https://images.fastspot.com/generic/500x282/3 500w, https://images.fastspot.com/generic/300x169/3 300w" src="https://images.fastspot.com/generic/300x169/3" alt="" loading="lazy" width="300" height="169">
								</figure>
																<div class="accordion_item_description">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.</p>
								</div>
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-2-4 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-2-4" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_icon"></span>
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">August 12 - August 17</span>
										</span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography" aria-label="August 12 - August 17">
																<div class="accordion_item_description">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.</p>
								</div>
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-2-5 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-2-5" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_icon"></span>
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Lorem Tellus Sollicitudin Mollis</span>
										</span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography has_image" aria-label="Lorem Tellus Sollicitudin Mollis">
																<figure class="accordion_item_content_figure">
									
<img class="accordion_item_content_image" srcset="https://images.fastspot.com/generic/740x416/4 740w, https://images.fastspot.com/generic/500x282/4 500w, https://images.fastspot.com/generic/300x169/4 300w" src="https://images.fastspot.com/generic/300x169/4" alt="" loading="lazy" width="300" height="169">
								</figure>
																<div class="accordion_item_description">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.</p>
								</div>
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-2-6 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-2-6" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_icon"></span>
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Vulputate Porta Egestas Magna Dolor</span>
										</span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography has_image" aria-label="Vulputate Porta Egestas Magna Dolor">
																<figure class="accordion_item_content_figure">
									
<img class="accordion_item_content_image" srcset="https://images.fastspot.com/generic/740x416/5 740w, https://images.fastspot.com/generic/500x282/5 500w, https://images.fastspot.com/generic/300x169/5 300w" src="https://images.fastspot.com/generic/300x169/5" alt="" loading="lazy" width="300" height="169">
								</figure>
																<div class="accordion_item_description">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.</p>
								</div>
							</div>
						</div>
											<div class="js-accordion-item js-accordion-item-2-7 accordion_item">
															<h3 class="accordion_item_heading">
															<button class="js-accordion-swap js-swap accordion_item_button" data-swap-target=".js-accordion-item-2-7" >
									<span class="accordion_item_heading_inner">
										<span class="accordion_item_heading_icon"></span>
										<span class="accordion_item_heading_label">
											<span class="accordion_item_heading_title">Lorem Tellus Sollicitudin Mollis</span>
										</span>
									</span>
								</button>
															</h3>
														<div class="js-accordion-content accordion_item_content typography has_image" aria-label="Lorem Tellus Sollicitudin Mollis">
																<figure class="accordion_item_content_figure">
									
<img class="accordion_item_content_image" srcset="https://images.fastspot.com/generic/740x416/6 740w, https://images.fastspot.com/generic/500x282/6 500w, https://images.fastspot.com/generic/300x169/6 300w" src="https://images.fastspot.com/generic/300x169/6" alt="" loading="lazy" width="300" height="169">
								</figure>
																<div class="accordion_item_description">
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. <a href="#">Donec ullamcorper nulla</a> non metus auctor fringilla.</p>
								</div>
							</div>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Accordion -->
