



<!-- Process Based List -->
<div class="process">
	<ul class="process_block" aria-label="">
					<li class="process_row">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="process_row_inner">
							<div class="process_row_intro">
																	<h2 class="process_title">Program Overview</h2>
																<h3 class="process_row_title">Years 1 & 2 Basic Sciences</h3>
																	<p class="process_row_description">There are a range of entry points into our Doctor of Medicine program, acommodating applicants of all educational systems and academic backgrounds.</p>
																									<div class="process_row_link_item">
										<a class="process_row_link" href="#">Download Outline</a>
									</div>
															</div>
							<div class="process_row_main">
																	<div class="process_group">
																					<h4 class="process_group_title">Academic year 1 & 2 - 86 weeks</h4>
																				<ul class="process_items" aria-label="Academic year 1 & 2 - 86 weeks">
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>1</strong></p>
																												<p class="process_item_title">Basic Principles of Medicine I</p>
																													<p class="process_item_sub_label">17 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>2</strong></p>
																												<p class="process_item_title">Basic Principles of Medicine II</p>
																													<p class="process_item_sub_label">17 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>3</strong></p>
																												<p class="process_item_title">Basic Principles of Medicine III</p>
																													<p class="process_item_sub_label">18 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>4</strong></p>
																												<p class="process_item_title">Principles of Clinical Medicine I</p>
																													<p class="process_item_sub_label">21 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>5</strong></p>
																												<p class="process_item_title">Principles of Clinical Medicine II</p>
																													<p class="process_item_sub_label">13 weeks</p>
																											</div>
																									</li>
																					</ul>
									</div>
															</div>
						</div>
					</div>
				</div>
			</li>
					<li class="process_row">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="process_row_inner">
							<div class="process_row_intro">
																<h3 class="process_row_title">Years 3 & 4 Clinical Sciences</h3>
																	<p class="process_row_description">There are a range of entry points into our Doctor of Medicine program, acommodating applicants of all educational systems and academic backgrounds.</p>
																							</div>
							<div class="process_row_main">
																	<div class="process_group">
																					<h4 class="process_group_title">Core rotations - 42 weeks</h4>
																				<ul class="process_items" aria-label="Core rotations - 42 weeks">
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Internal Medicine</p>
																													<p class="process_item_sub_label">12 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Surgery</p>
																													<p class="process_item_sub_label">12 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Pediatrics</p>
																													<p class="process_item_sub_label">6 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Obstretics/Gynecology</p>
																													<p class="process_item_sub_label">6 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Psychiatry</p>
																													<p class="process_item_sub_label">6 weeks</p>
																											</div>
																									</li>
																					</ul>
									</div>
																	<div class="process_group">
																					<h4 class="process_group_title">Sub-internships & electives - 38 weeks</h4>
																				<ul class="process_items" aria-label="Sub-internships & electives - 38 weeks">
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Family Medicine</p>
																													<p class="process_item_sub_label">4-6 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Medicine Subinternship</p>
																													<p class="process_item_sub_label">4 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Medicine Elective</p>
																													<p class="process_item_sub_label">4 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Additional Electives</p>
																													<p class="process_item_sub_label">24-26 weeks</p>
																											</div>
																									</li>
																					</ul>
									</div>
															</div>
						</div>
					</div>
				</div>
			</li>
					<li class="process_row">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="process_row_inner">
							<div class="process_row_intro">
																<h3 class="process_row_title">Years 1 & 2 Basic Sciences</h3>
																	<p class="process_row_description">There are a range of entry points into our Doctor of Medicine program, acommodating applicants of all educational systems and academic backgrounds.</p>
																									<div class="process_row_link_item">
										<a class="process_row_link" href="#">Download Outline</a>
									</div>
															</div>
							<div class="process_row_main">
																	<div class="process_group">
																					<h4 class="process_group_title">Academic year 1 & 2 - 86 weeks</h4>
																				<ul class="process_items" aria-label="Academic year 1 & 2 - 86 weeks">
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>1</strong></p>
																												<p class="process_item_title">Basic Principles of Medicine I</p>
																													<p class="process_item_sub_label">17 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>2</strong></p>
																												<p class="process_item_title">Basic Principles of Medicine II</p>
																													<p class="process_item_sub_label">17 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>3</strong></p>
																												<p class="process_item_title">Basic Principles of Medicine III</p>
																													<p class="process_item_sub_label">18 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>4</strong></p>
																												<p class="process_item_title">Principles of Clinical Medicine I</p>
																													<p class="process_item_sub_label">21 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">term <strong>5</strong></p>
																												<p class="process_item_title">Principles of Clinical Medicine II</p>
																													<p class="process_item_sub_label">13 weeks</p>
																											</div>
																									</li>
																					</ul>
									</div>
															</div>
						</div>
					</div>
				</div>
			</li>
					<li class="process_row">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="process_row_inner">
							<div class="process_row_intro">
																<h3 class="process_row_title">Years 3 & 4 Clinical Sciences</h3>
																	<p class="process_row_description">There are a range of entry points into our Doctor of Medicine program, acommodating applicants of all educational systems and academic backgrounds.</p>
																							</div>
							<div class="process_row_main">
																	<div class="process_group">
																					<h4 class="process_group_title">Core rotations - 42 weeks</h4>
																				<ul class="process_items" aria-label="Core rotations - 42 weeks">
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Internal Medicine</p>
																													<p class="process_item_sub_label">12 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Surgery</p>
																													<p class="process_item_sub_label">12 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Pediatrics</p>
																													<p class="process_item_sub_label">6 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Obstretics/Gynecology</p>
																													<p class="process_item_sub_label">6 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Psychiatry</p>
																													<p class="process_item_sub_label">6 weeks</p>
																											</div>
																									</li>
																					</ul>
									</div>
																	<div class="process_group">
																					<h4 class="process_group_title">Sub-internships & electives - 38 weeks</h4>
																				<ul class="process_items" aria-label="Sub-internships & electives - 38 weeks">
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Family Medicine</p>
																													<p class="process_item_sub_label">4-6 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Medicine Subinternship</p>
																													<p class="process_item_sub_label">4 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Medicine Elective</p>
																													<p class="process_item_sub_label">4 weeks</p>
																											</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																												<p class="process_item_title">Additional Electives</p>
																													<p class="process_item_sub_label">24-26 weeks</p>
																											</div>
																									</li>
																					</ul>
									</div>
															</div>
						</div>
					</div>
				</div>
			</li>
			</ul>
</div>
<!-- END: Process Based List -->
