




<nav class="secondary_nav secondary_nav_demo" aria-labelledby="basic_nav_title-1">
	<div class="secondary_nav_header">
		<h2 class="secondary_nav_title" id="basic_nav_title-1">Basic</h2>
	</div>
	<ul class="secondary_nav_list" aria-labelledby="basic_nav_title-1">
					<li class="secondary_nav_item has_children">
				<a class="secondary_nav_link" href="#">
					<div class="secondary_nav_link_inner">
												<span class="secondary_nav_link_label">Info Sessions</span>
					</div>
				</a>
									<ul class="secondary_nav_children" aria-label="Info Sessions">
													<li class="secondary_nav_child_item">
								<a class="secondary_nav_child_link" href="#" aria-label="Medicine Info Sessions">
									<div class="secondary_nav_child_link_inner">
																				<span class="secondary_nav_child_link_label">Medicine</span>
									</div>
								</a>
							</li>
													<li class="secondary_nav_child_item">
								<a class="secondary_nav_child_link" href="#" aria-label="Veterinary Info Sessions">
									<div class="secondary_nav_child_link_inner">
																				<span class="secondary_nav_child_link_label">Veterinary</span>
									</div>
								</a>
							</li>
													<li class="secondary_nav_child_item">
								<a class="secondary_nav_child_link" href="#" aria-label="Undergraduate School Info Sessions">
									<div class="secondary_nav_child_link_inner">
																				<span class="secondary_nav_child_link_label">Undergraduate School</span>
									</div>
								</a>
							</li>
													<li class="secondary_nav_child_item">
								<a class="secondary_nav_child_link" href="#" aria-label="Graduate School Info Sessions">
									<div class="secondary_nav_child_link_inner">
																				<span class="secondary_nav_child_link_label">Graduate School</span>
									</div>
								</a>
							</li>
											</ul>
							</li>
					<li class="secondary_nav_item">
				<a class="secondary_nav_link" href="#">
					<div class="secondary_nav_link_inner">
												<span class="secondary_nav_link_label">Request Info</span>
					</div>
				</a>
							</li>
					<li class="featured secondary_nav_item has_children">
				<a class="secondary_nav_link" href="#">
					<div class="secondary_nav_link_inner">
												<span class="secondary_nav_link_label">Apply</span>
					</div>
				</a>
									<ul class="secondary_nav_children" aria-label="Apply">
													<li class="secondary_nav_child_item">
								<a class="secondary_nav_child_link" href="#" aria-label="Apply to Medicine">
									<div class="secondary_nav_child_link_inner">
																				<span class="secondary_nav_child_link_label">Medicine</span>
									</div>
								</a>
							</li>
													<li class="secondary_nav_child_item">
								<a class="secondary_nav_child_link" href="#" aria-label="Apply to Veterinary">
									<div class="secondary_nav_child_link_inner">
																				<span class="secondary_nav_child_link_label">Veterinary</span>
									</div>
								</a>
							</li>
													<li class="secondary_nav_child_item">
								<a class="secondary_nav_child_link" href="#" aria-label="Apply to Undergraduate School">
									<div class="secondary_nav_child_link_inner">
																				<span class="secondary_nav_child_link_label">Undergraduate School</span>
									</div>
								</a>
							</li>
													<li class="secondary_nav_child_item">
								<a class="secondary_nav_child_link" href="#" aria-label="Apply to Graduate School">
									<div class="secondary_nav_child_link_inner">
																				<span class="secondary_nav_child_link_label">Graduate School</span>
									</div>
								</a>
							</li>
											</ul>
							</li>
			</ul>
</nav>
