



<!-- Program Meta -->
<div class="program_meta" id="meta" data-type="program">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="program_meta_inner">
				<div class="program_details">
											<div class="program_detail start">
							<div class="program_detail_label">Next Start Date<span class="program_detail_label_hint">:</span></div>
							<div class="program_detail_data">August 2022</div>
						</div>
																<div class="program_detail time">
							<div class="program_detail_label">Time to Completion<span class="program_detail_label_hint">:</span></div>
							<div class="program_detail_data">4 years</div>
						</div>
																<div class="program_detail time">
							<div class="program_detail_label">Cohort Size<span class="program_detail_label_hint">:</span></div>
							<div class="program_detail_data">394</div>
						</div>
																<div class="program_detail accreditation">
							<div class="program_detail_label">Accreditation Info<span class="program_detail_label_hint">:</span></div>
							<div class="program_detail_data">
								<a class="program_detail_data_link" href="#" aria-label=" Accreditation">More Info</a>
							</div>
						</div>
									</div>
				<div class="program_meta_links">
					<div class="program_meta_link_item orange">
						<a class="program_meta_link" href="#">Apply</a>
					</div>
					<div class="program_meta_link_item turquoise">
						<a class="program_meta_link" href="#">Info Sessions</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Program Meta -->
