



<!-- Person Meta -->
<div class="people_meta" id="meta" data-type="entity" data-category="University Administration">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="people_meta_inner">
				<div class="people_meta_body">
					<div class="people_meta_details">
													<div class="people_meta_detail contact">
								<div class="people_meta_detail_label">Get In Touch</div>
																	<div class="people_meta_detail_item">
										<div class="people_meta_detail_item_header">
											<div class="people_meta_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
											<div class="people_meta_detail_hint">Email Address</div>
										</div>
										<div class="people_meta_detail_info">
											<a class="people_meta_detail_info_link" href="mailto:mloukas@sgu.edu">mloukas@sgu.edu</a>
										</div>
									</div>
																									<div class="people_meta_detail_item">
										<div class="people_meta_detail_item_header">
											<div class="people_meta_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
											<div class="people_meta_detail_hint">mobile</div>
										</div>
										<div class="people_meta_detail_info">
											<a class="people_meta_detail_info_link" href="tel:4105551234">(410) 555-1234</a>
										</div>
									</div>
																									<div class="people_meta_detail_item">
										<div class="people_meta_detail_info">
											<a href="#" class="people_meta_detail_info_button">Book An Appointment</a>
										</div>
									</div>
															</div>
																			<div class="people_meta_detail department">
								<div class="people_meta_detail_label">Department</div>
																	<div class="people_meta_detail_item">
										<div class="people_meta_detail_info">
											<a class="people_meta_detail_info_link" href="#">University Administration</a>
										</div>
									</div>
															</div>
																			<div class="people_meta_detail location">
								<div class="people_meta_detail_label">Location</div>
								<div class="people_meta_detail_item">
									<a class="people_meta_detail_info_link" href="#">Belford Centre</a>
								</div>
							</div>
																			<div class="people_meta_detail faculty_type">
								<div class="people_meta_detail_label">Faculty Type</div>
																	<div class="people_meta_detail_item">Administration</div>
																	<div class="people_meta_detail_item">Full Time Faculty</div>
															</div>
																							</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Person Meta -->
