


<!-- News Meta -->
<div class="news_meta" id="meta" data-type="news" data-category="Category 1">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_meta_inner">
				<div class="news_meta_body">
											<div class="news_meta_details">
															<div class="news_meta_detail news_meta_date">
									<span class="news_meta_detail_hint">Published:&nbsp;</span>
									<time class="news_meta_detail_label" datetime="2019-01-01 17:00:00">January 1, 2019</time>
								</div>
																						<div class="news_meta_detail news_meta_author">
									<span class="news_meta_detail_hint">- by&nbsp;</span>
									<span class="news_meta_detail_label">Author</span>
								</div>
													</div>
																<div class="news_meta_categories_block">
							<ul class="news_meta_categories" aria-label="Categories">
																	<li class="news_meta_category">
										<a class="news_meta_category_link" href="page-news-category.html">Category 1</a>
									</li>
															</ul>
						</div>
									</div>
				<div class="news_meta_share">
					
<div class="share_tools_detail">
	<div class="share_tools_detail_header">
		<h2 class="share_tools_detail_title">Share This</h2>
	</div>
	<ul class="share_tools_detail_list" aria-label="Share Options">
								<li class="share_tool_detail_item">
				<a class="share_tool_detail" href="#" target="_blank" rel="noopener">
					<span class="share_tool_detail_icon">
			<svg class="icon icon_facebook_alt">
				<use href="/images/icons.svg#facebook_alt" />
			</svg>
		</span>
					<span class="share_tool_detail_label">Share to Facebook</span>
				</a>
			</li>
								<li class="share_tool_detail_item">
				<a class="share_tool_detail" href="#" target="_blank" rel="noopener">
					<span class="share_tool_detail_icon">
			<svg class="icon icon_twitter">
				<use href="/images/icons.svg#twitter" />
			</svg>
		</span>
					<span class="share_tool_detail_label">Share to Twitter</span>
				</a>
			</li>
			</ul>
</div>				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: News Meta -->
