

<div class="hero_school">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="hero_school_inner">
				<div class="hero_school_media">
					<figure class="hero_school_figure">
													
<img class="hero_school_figure_image" srcset="https://images.fastspot.com/generic/1440x810/ 1440w, https://images.fastspot.com/generic/1220x686/ 1220w, https://images.fastspot.com/generic/980x552/ 980w, https://images.fastspot.com/generic/740x416/ 740w, https://images.fastspot.com/generic/500x282/ 500w, https://images.fastspot.com/generic/300x169/ 300w" sizes="(min-width: 1394px) 1260px, (min-width: 1220px) 1100px, (min-width: 980px) 880px, (min-width: 740px) 694px, (min-width: 500px) 48vw, 90vw"  src="https://images.fastspot.com/generic/300x169/" alt="" loading="eager" width="300" height="169">
											</figure>
															<div class="lazy_video js-video-lazy-load " data-video-lazy-load='{"id":null,"type":null,"title":null,"display":"inline","autoplay":false,"playerVars":{}}'>
						<a class="js-play-btn js-swap hero_school_media_button" href="" aria-label="Play " data-swap-target=".hero_school">
							<span class="hero_school_media_button_group">
								<span class="hero_school_media_button_label"></span>
								<span class="hero_school_media_button_name"></span>
							</span>
							<span class="hero_school_media_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
						</a>
						<div class="lazy_video_iframe_wrap">
							<div class="lazy_video_iframe_target js-iframe-target"></div>
						</div>
					</div>
				</div>
				<div class="hero_school_group">
					<div class="hero_school_header">
						<h1 class="hero_school_label" id="page_title" tabindex="-1"></h1>
						<p class="hero_school_title"></p>
					</div>
					<div class="hero_school_header_decoration"></div>
					<div class="hero_school_body">
						<p class="hero_school_description"></p>
						<ul class="hero_school_links" aria-label="">
													</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

