

<div class="full_width_callouts" id="page_content" tabindex="-1" aria-labelledby="page_title">
	
<!-- Department List -->
<div class="department_list">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="department_list_inner">
				<div class="department_list_header">
					<p class="department_list_header_label">Name</p>
					<p class="department_list_header_label">Contact</p>
				</div>
				<ul class="department_list_items" id="item_list" aria-label="Department Directory">
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Office of the Dean of Students</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University.</div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Student Accessibility and Accommodation Services</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">The mission of the Student Accessibility and Accommodation Services is to provide equal opportunity to students with disabilities and promote a welcoming campus environment for those needing accommodations.</div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:accessibility@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">accessibility@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							Department of Educational Services
																					</h2>
																					<div class="department_list_item_description">Our dedicated Department of Educational Services (DES) teaches students how to learn and teachers how to teach. This unique and highly effective faculty is the largest on campus, and is an important component of student and graduate success.</div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Health and Psychological Services</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">Available to the entire SGU community, University Health Services (UHS) and the Psychological Services Center (PSC) are committed to providing the best service by a qualified and experienced staff.</div>
																			</div>
								</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Career Guidance and Student Development</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University.</div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:studentdev@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">studentdev@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Office of the University Registrar</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:registrar@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">registrar@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							Office of the Dean of Students
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Office of the Dean of Students</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Office of the Dean of Students</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Office of the Dean of Students</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							Office of the Dean of Students
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Office of the Dean of Students</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Office of the Dean of Students</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Office of the Dean of Students</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							Office of the Dean of Students
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
											<li class="department_list_row">
							<div class="department_list_item">
								<div class="department_list_item_header">
									<div class="department_list_item_info">
										<h2 class="department_list_item_name">
																							<a class="department_list_item_name_link" href="page-directory-detail.html">
													<span class="department_list_item_name_link_label">Office of the Dean of Students</span>
													<span class="department_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="department_list_item_description">From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. </div>
																			</div>
								</div>
																	<div class="department_list_item_body">
										<div class="department_list_item_email">
											<a class="department_list_item_email_link" href="mailto:office-dean@sgu.edu">
												<span class="department_list_item_email_link_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</span>
												<span class="department_list_item_email_link_label">office-dean@sgu.edu</span>
											</a>
										</div>
									</div>
															</div>
						</li>
									</ul>
				<div class="department_list_pagination">
					
<!-- Pagination -->
<div class="pagination">
	<nav class="pagination_nav" aria-label="Directory Pagination">
		<a class="pagination_arrow pagination_arrow_left pagination_arrow_disabled" href="#">
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_left">
				<use href="/images/icons.svg#caret_left" />
			</svg>
		</span>
			<span class="pagination_arrow_label">Previous Page</span>
		</a>
		<a class="pagination_arrow pagination_arrow_right" href="#">
			<span class="pagination_arrow_label">Next Page</span>
			<span class="pagination_arrow_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
		</a>
	</nav>
	<form class="pagination_form" action="#" method="get">
		<div class="pagination_form_inner">
			<label class="pagination_form_label" for="pagination_form_select">Page</label>
			<div class="pagination_form_select_wrapper">
				<select class="pagination_form_select" name="page" id="pagination_form_select" aria-label="Select Page Number">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
											<option value="32">32</option>
											<option value="33">33</option>
											<option value="34">34</option>
											<option value="35">35</option>
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
											<option value="46">46</option>
											<option value="47">47</option>
											<option value="48">48</option>
											<option value="49">49</option>
											<option value="50">50</option>
									</select>
				<span class="pagination_form_select_icon">
			<svg class="icon icon_caret_down">
				<use href="/images/icons.svg#caret_down" />
			</svg>
		</span>
			</div>
			<span class="pagination_form_suffix">of 50</span>
			<button class="pagination_form_button" type="submit" aria-label="View Page">Go</button>
		</div>
	</form>
</div>
<!-- END: Pagination -->				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Department List --></div>
