

<!-- Page Content -->
<div class="page_content">
	<!-- Full Width Callouts -->
	<div class="full_width_callouts">
		<div class="facts_stats_columns">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="facts_stats_columns_inner">
				<div class="facts_stats_columns_header">
					<div class="facts_stats_columns_header_inner">
						<h2 class="facts_stats_columns_title">We are the premier choice in Caribbean Medical Schools and have evolved into a top center of international medical education.</h2>
												<figure class="facts_stats_columns_figure">
							
<img class="facts_stats_columns_image" srcset="https://images.fastspot.com/generic/980x552/2 980w, https://images.fastspot.com/generic/740x416/2 740w, https://images.fastspot.com/generic/500x282/2 500w, https://images.fastspot.com/generic/300x169/2 300w" src="https://images.fastspot.com/generic/300x169/2" alt="" loading="lazy" width="300" height="169">
						</figure>
											</div>
				</div>
				<div class="facts_stats_columns_list">
											<div class="facts_stats_columns_item">
							<h3 class="facts_stats_columns_item_stat"><span>93%</span> US residency placement rate for graduates over the last three years</h3>
														<span class="facts_stats_columns_item_desription">Average of 2020, 2021, 2022 residency placement rate. Residency placement rate is defined as the total number of students who obtained a US residency divided by the total number of students who applied to a US residency program in a given year as of May 2022.</span>
													</div>
											<div class="facts_stats_columns_item">
							<h3 class="facts_stats_columns_item_stat no_desc"><span>19,000+</span> School of Medicine graduates who have entered the global healthcare system.</h3>
													</div>
											<div class="facts_stats_columns_item">
							<h3 class="facts_stats_columns_item_stat"><span>92%</span> USMLE Step 1 pass rate for first-time test-takers over the last three years</h3>
														<span class="facts_stats_columns_item_desription">Average of 2019, 2020, 2021 scores First-time pass rate is defined as the number of students passing USMLE Step 1 on their first attempt divided by the total number of students taking USMLE Step 1 for the first time. In order to be certified to take USMLE Step 1, students are required to pass all basic sciences courses.</span>
													</div>
											<div class="facts_stats_columns_item">
							<h3 class="facts_stats_columns_item_stat"><span>92%</span> USMLE Step 2CK pass rate for first-time test-takers over the last three years</h3>
														<span class="facts_stats_columns_item_desription">Average of 2019, 2020, 2021 academic year scores. First-time pass rate is defined as the number of students passing USMLE Step 2CK on their first attempt divided by the total number of students taking USMLE Step 2CK for the first time. USMLE Step 2CK is typically taken upon completion of third-year core clinical rotations.</span>
													</div>
									</div>
			</div>
		</div>
	</div>
</div>
		
<div class="pathways">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="pathways_inner">
				<div class="pathways_accordion_wrapper">
					<div class="pathways_accordion_header">
						<h2 class="pathways_accordion_title">Explore these MD Pathways</h2>
					</div>
					<div class="pathways_accordion">
													<div class="pathway pathway_js-pathways-4_1 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/1 1220w, https://images.fastspot.com/generic/980x654/1 980w, https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-4_1" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-4">Doctor of Medicine</button>
																	<span class="pathway_description">A 4 year program for students of education systems around the world to earn their MD.</span>
																									<a href="#" class="pathway_link">Explore MD Program</a>
															</div>
													<div class="pathway pathway_js-pathways-4_2 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/2 1220w, https://images.fastspot.com/generic/980x654/2 980w, https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-4_2" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-4">Pre-Med + MD</button>
																	<span class="pathway_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																									<a href="#" class="pathway_link">Read More</a>
															</div>
													<div class="pathway pathway_js-pathways-4_3 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/3 1220w, https://images.fastspot.com/generic/980x654/3 980w, https://images.fastspot.com/generic/740x494/3 740w, https://images.fastspot.com/generic/500x334/3 500w, https://images.fastspot.com/generic/300x200/3 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/3" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-4_3" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-4">MD + MPH</button>
																	<span class="pathway_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																									<a href="#" class="pathway_link">Read More</a>
															</div>
													<div class="pathway pathway_js-pathways-4_4 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/4 1220w, https://images.fastspot.com/generic/980x654/4 980w, https://images.fastspot.com/generic/740x494/4 740w, https://images.fastspot.com/generic/500x334/4 500w, https://images.fastspot.com/generic/300x200/4 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/4" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-4_4" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-4">Medical PhD</button>
																	<span class="pathway_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																									<a href="#" class="pathway_link">Read More</a>
															</div>
													<div class="pathway pathway_js-pathways-4_5 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/5 1220w, https://images.fastspot.com/generic/980x654/5 980w, https://images.fastspot.com/generic/740x494/5 740w, https://images.fastspot.com/generic/500x334/5 500w, https://images.fastspot.com/generic/300x200/5 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/5" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-4_5" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-4">MD + MSc</button>
																	<span class="pathway_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																									<a href="#" class="pathway_link">Read More</a>
															</div>
											</div>
				</div>
				<div class="pathways_visuals_wrapper">
											<figure class="pathways_figure pathway_js-pathways-4_1">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/1 1080w, https://images.fastspot.com/generic/915x1220/1 915w, https://images.fastspot.com/generic/735x980/1 735w, https://images.fastspot.com/generic/555x740/1 555w, https://images.fastspot.com/generic/375x500/1 375w, https://images.fastspot.com/generic/225x300/1 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/1" alt="" loading="lazy" width="225" height="300">
						</figure>
											<figure class="pathways_figure pathway_js-pathways-4_2">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/2 1080w, https://images.fastspot.com/generic/915x1220/2 915w, https://images.fastspot.com/generic/735x980/2 735w, https://images.fastspot.com/generic/555x740/2 555w, https://images.fastspot.com/generic/375x500/2 375w, https://images.fastspot.com/generic/225x300/2 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/2" alt="" loading="lazy" width="225" height="300">
						</figure>
											<figure class="pathways_figure pathway_js-pathways-4_3">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/3 1080w, https://images.fastspot.com/generic/915x1220/3 915w, https://images.fastspot.com/generic/735x980/3 735w, https://images.fastspot.com/generic/555x740/3 555w, https://images.fastspot.com/generic/375x500/3 375w, https://images.fastspot.com/generic/225x300/3 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/3" alt="" loading="lazy" width="225" height="300">
						</figure>
											<figure class="pathways_figure pathway_js-pathways-4_4">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/4 1080w, https://images.fastspot.com/generic/915x1220/4 915w, https://images.fastspot.com/generic/735x980/4 735w, https://images.fastspot.com/generic/555x740/4 555w, https://images.fastspot.com/generic/375x500/4 375w, https://images.fastspot.com/generic/225x300/4 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/4" alt="" loading="lazy" width="225" height="300">
						</figure>
											<figure class="pathways_figure pathway_js-pathways-4_5">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/5 1080w, https://images.fastspot.com/generic/915x1220/5 915w, https://images.fastspot.com/generic/735x980/5 735w, https://images.fastspot.com/generic/555x740/5 555w, https://images.fastspot.com/generic/375x500/5 375w, https://images.fastspot.com/generic/225x300/5 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/5" alt="" loading="lazy" width="225" height="300">
						</figure>
									</div>
			</div>
		</div>
	</div>
</div>
		

<div class="news_related">
			<div class="news_related_header">
			<div class="fs-row">
				<div class="fs-cell">
					<div class="news_related_header_inner">
						<h2 class="news_related_title">School of Veterinary Medicine</h2>
													<a href="#" class="news_related_view_more_link">View More</a>
											</div>
				</div>
			</div>
		</div>
		<div class="news_related_body">
		<div class="fs-row">
			<div class="fs-cell">
				<ul class="news_related_items" aria-label="School of Veterinary Medicine">
											<li class="news_related_item">
															<figure class="news_related_item_figure">
									<a class="news_related_item_figure_link" href="page-news-detail.html" aria-label="Read more about From The Deep South To Down Under: How This SVM Grad Found “The Place To Be”" tabindex="-1">
										
<img class="news_related_item_image" srcset="https://images.fastspot.com/generic/980x654/1 980w, https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
									</a>
								</figure>
														<div class="news_related_item_wrapper">
								<div class="news_related_item_header">
									<h2 class="news_related_item_title">
										
<a href="page-news-detail.html" class="news_related_item_title_link" >
	<span class="news_related_item_title_link_inner">
					<span class="news_related_item_title_link_label">From The Deep South To Down Under: How This SVM Grad Found “The Place To Be”</span>
						</span>
</a>									</h2>
									<div class="news_related_item_header_group">
																					<div class="news_related_item_date">
												<span class="news_related_item_date_hint">Published:&nbsp;</span>
												<time class="news_related_item_date_label" datetime="2022-04-28 17:00:00">April 28, 2022</time>
											</div>
																															<div class="news_related_item_categories">
												<div class="news_related_item_category_hint">Categories</div>
												<ul class="news_related_item_category_list" aria-label="Categories">
																											<li class="news_related_item_category">
															<a class="news_related_item_category_link" href="page-news-category.html">Profile</a>
														</li>
																									</ul>
											</div>
																			</div>
								</div>
								<div class="news_related_item_body">
																	</div>
							</div>
						</li>
											<li class="news_related_item">
															<figure class="news_related_item_figure">
									<a class="news_related_item_figure_link" href="page-news-detail.html" aria-label="Read more about NCFMEA: SGU Med School Accreditor On Par With US Schools" tabindex="-1">
										
<img class="news_related_item_image" srcset="https://images.fastspot.com/generic/980x654/2 980w, https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
									</a>
								</figure>
														<div class="news_related_item_wrapper">
								<div class="news_related_item_header">
									<h2 class="news_related_item_title">
										
<a href="page-news-detail.html" class="news_related_item_title_link" >
	<span class="news_related_item_title_link_inner">
					<span class="news_related_item_title_link_label">NCFMEA: SGU Med School Accreditor On Par With US Schools</span>
						</span>
</a>									</h2>
									<div class="news_related_item_header_group">
																					<div class="news_related_item_date">
												<span class="news_related_item_date_hint">Published:&nbsp;</span>
												<time class="news_related_item_date_label" datetime="2022-04-28 17:00:00">April 28, 2022</time>
											</div>
																															<div class="news_related_item_categories">
												<div class="news_related_item_category_hint">Categories</div>
												<ul class="news_related_item_category_list" aria-label="Categories">
																											<li class="news_related_item_category">
															<a class="news_related_item_category_link" href="page-news-category.html">Announcement</a>
														</li>
																									</ul>
											</div>
																			</div>
								</div>
								<div class="news_related_item_body">
																	</div>
							</div>
						</li>
											<li class="news_related_item">
															<figure class="news_related_item_figure">
									<a class="news_related_item_figure_link" href="page-news-detail.html" aria-label="Read more about New SGU Orthopaedic Surgery Club Preps Students For Competitive Specialty" tabindex="-1">
										
<img class="news_related_item_image" srcset="https://images.fastspot.com/generic/980x654/3 980w, https://images.fastspot.com/generic/740x494/3 740w, https://images.fastspot.com/generic/500x334/3 500w, https://images.fastspot.com/generic/300x200/3 300w" src="https://images.fastspot.com/generic/300x200/3" alt="" loading="lazy" width="300" height="200">
									</a>
								</figure>
														<div class="news_related_item_wrapper">
								<div class="news_related_item_header">
									<h2 class="news_related_item_title">
										
<a href="page-news-detail.html" class="news_related_item_title_link" >
	<span class="news_related_item_title_link_inner">
					<span class="news_related_item_title_link_label">New SGU Orthopaedic Surgery Club Preps Students For Competitive Specialty</span>
						</span>
</a>									</h2>
									<div class="news_related_item_header_group">
																					<div class="news_related_item_date">
												<span class="news_related_item_date_hint">Published:&nbsp;</span>
												<time class="news_related_item_date_label" datetime="2022-04-28 17:00:00">April 28, 2022</time>
											</div>
																															<div class="news_related_item_categories">
												<div class="news_related_item_category_hint">Categories</div>
												<ul class="news_related_item_category_list" aria-label="Categories">
																											<li class="news_related_item_category">
															<a class="news_related_item_category_link" href="page-news-category.html">Profile</a>
														</li>
																									</ul>
											</div>
																			</div>
								</div>
								<div class="news_related_item_body">
																	</div>
							</div>
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>
<!-- END: Related News -->
		<div class="cta_background">
	<div class="fs-row cta_background_row">
		<div class="fs-cell cta_background_cell">
			<div class="cta_background_inner">
				<div class="cta_background_media">
																	<div class="js-background-video-wrapper page_header_bg_video" data-background-video='{"display":"background","id":"85480265","type":"vimeo","title":null,"autoplay":true}'>
							<div class=" page_header_bg_video_iframe_wrap">
								<div class=" page_header_bg_video_iframe_target js-iframe-target"></div>
							</div>
							<div class="cta_background_video_controls">
								

<button class="page_header_bg_video_play_button js-page-header-bg-video-play-button">
	<span class="page_header_bg_video_play_button_inner">
		<span class="page_header_bg_video_play_button_label">Play Video</span>
				<span class="page_header_bg_video_play_button_icon" aria-hidden="true">
			
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		
		</span>
			</span>
</button>								

<button class="page_header_bg_video_pause_button js-page-header-bg-video-pause-button">
	<span class="page_header_bg_video_pause_button_inner">
		<span class="page_header_bg_video_pause_button_label">Pause Video</span>
				<span class="page_header_bg_video_pause_button_icon" aria-hidden="true">
			
			<svg class="icon icon_pause">
				<use href="/images/icons.svg#pause" />
			</svg>
		
		</span>
			</span>
</button>							</div>
						</div>
										<figure class="cta_background_figure">
													
<picture class="cta_background_picture">
		<source media="(min-width: 1220px)" srcset="https://images.fastspot.com/generic/1440x960/1" width="1440" height="960">
		<source media="(min-width: 980px)" srcset="https://images.fastspot.com/generic/1220x814/1" width="1220" height="814">
		<source media="(min-width: 740px)" srcset="https://images.fastspot.com/generic/980x654/1" width="980" height="654">
		<source media="(min-width: 500px)" srcset="https://images.fastspot.com/generic/740x740/1" width="740" height="740">
		<img class="cta_background_image" src="//images.fastspot.com/generic/200x300/1" alt="" loading="lazy" width="200" height="300">
</picture>											</figure>
				</div>
				<div class="cta_background_content">
					<span class="cta_background_icon" aria-hidden="true">
			<svg class="icon icon_360">
				<use href="/images/icons.svg#360" />
			</svg>
		</span>
					<h2 class="cta_background_title">Unbeatable Campus Experience</h2>
											<span class="cta_background_description">SGU School of Medicine is the #1 provider of doctors into first-year US residencies for the last 12 years combined.</span>
																<a href="#" class="cta_background_link">Take A Virtual Tour</a>
									</div>
			</div>
		</div>
	</div>
</div>
		

<!-- Topic Row -->
<div class="topics_columns">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="topics_columns_inner">
				<div class="topics_columns_header">
					<h2 class="topics_columns_title">
						<span class="topics_columns_title_label">The SGU Difference</span>
					</h2>
				</div>
				<div class="topics_columns_body">
											<div class="topic_columns">
							<div class="topic_columns_inner">
																	<figure class="topic_columns_figure" aria-hidden="true">
										
<img class="topic_columns_image" srcset="https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_columns_wrapper">
									<div class="topic_columns_header">
																					<h3 class="topic_columns_title">Practitioner Focused</h3>
																			</div>
									<div class="topic_columns_body">
										<div class="topic_columns_description">
											<p>The #1 provider into first-year US residencies for the last 12 years combined.</p>
										</div>
									</div>
																			<div class="topic_columns_links">
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Our Faculty</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Student Support Services</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Small Cohorts & Groups</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic_columns">
							<div class="topic_columns_inner">
																	<figure class="topic_columns_figure" aria-hidden="true">
										
<img class="topic_columns_image" srcset="https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_columns_wrapper">
									<div class="topic_columns_header">
																					<h3 class="topic_columns_title">Excellent Academic Outcomes</h3>
																			</div>
									<div class="topic_columns_body">
										<div class="topic_columns_description">
											<p>The #1 provider into first-year US residencies for the last 12 years combined.</p>
										</div>
									</div>
																			<div class="topic_columns_links">
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Explore Outcomes</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic_columns">
							<div class="topic_columns_inner">
																	<figure class="topic_columns_figure" aria-hidden="true">
										
<img class="topic_columns_image" srcset="https://images.fastspot.com/generic/740x494/3 740w, https://images.fastspot.com/generic/500x334/3 500w, https://images.fastspot.com/generic/300x200/3 300w" src="https://images.fastspot.com/generic/300x200/3" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_columns_wrapper">
									<div class="topic_columns_header">
																					<h3 class="topic_columns_title">Outstanding Return on Investment</h3>
																			</div>
									<div class="topic_columns_body">
										<div class="topic_columns_description">
											<p>#% of alumni pay off their student loans within x years.</p>
										</div>
									</div>
																			<div class="topic_columns_links">
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Explore Outcomes</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic_columns">
							<div class="topic_columns_inner">
																	<figure class="topic_columns_figure" aria-hidden="true">
										
<img class="topic_columns_image" srcset="https://images.fastspot.com/generic/740x494/4 740w, https://images.fastspot.com/generic/500x334/4 500w, https://images.fastspot.com/generic/300x200/4 300w" src="https://images.fastspot.com/generic/300x200/4" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_columns_wrapper">
									<div class="topic_columns_header">
																					<h3 class="topic_columns_title">Incredible Alumni Network</h3>
																			</div>
									<div class="topic_columns_body">
										<div class="topic_columns_description">
											<p>The #1 provider into first-year US residencies for the last 12 years combined.</p>
										</div>
									</div>
																			<div class="topic_columns_links">
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Explore Outcomes</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Topic Row -->	</div>
	<!-- END: Full Width Callouts -->
</div>
