

<div class="people_entry">
	<script type="application/ld+json">
		{
			'@context': 'http://schema.org',
			'@type': 'Person',
			'email': 'mailto:jane-doe@xyz.edu',
			'image': 'janedoe.jpg',
			'jobTitle': 'Professor',
			'name': 'Jane Doe',
			'telephone': '(425) 123-4567',
			'url': 'http://www.janedoe.com'
		}
	</script>

	<!-- Page Content -->
	<div class="page_content">
		<div class="fs-row">
			<div class="fs-cell fs-lg-4 fs-xl-3">
				

<!-- Person Meta -->
<div class="people_meta" id="meta" data-type="entity" data-category="University Administration">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="people_meta_inner">
				<div class="people_meta_body">
					<div class="people_meta_details">
													<div class="people_meta_detail contact">
								<div class="people_meta_detail_label">Get In Touch</div>
																	<div class="people_meta_detail_item">
										<div class="people_meta_detail_item_header">
											<div class="people_meta_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
											<div class="people_meta_detail_hint">Email Address</div>
										</div>
										<div class="people_meta_detail_info">
											<a class="people_meta_detail_info_link" href="mailto:mloukas@sgu.edu">mloukas@sgu.edu</a>
										</div>
									</div>
																									<div class="people_meta_detail_item">
										<div class="people_meta_detail_item_header">
											<div class="people_meta_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
											<div class="people_meta_detail_hint">mobile</div>
										</div>
										<div class="people_meta_detail_info">
											<a class="people_meta_detail_info_link" href="tel:4105551234">(410) 555-1234</a>
										</div>
									</div>
																									<div class="people_meta_detail_item">
										<div class="people_meta_detail_info">
											<a href="#" class="people_meta_detail_info_button">Book An Appointment</a>
										</div>
									</div>
															</div>
																			<div class="people_meta_detail department">
								<div class="people_meta_detail_label">Department</div>
																	<div class="people_meta_detail_item">
										<div class="people_meta_detail_info">
											<a class="people_meta_detail_info_link" href="#">University Administration</a>
										</div>
									</div>
															</div>
																			<div class="people_meta_detail location">
								<div class="people_meta_detail_label">Location</div>
								<div class="people_meta_detail_item">
									<a class="people_meta_detail_info_link" href="#">Belford Centre</a>
								</div>
							</div>
																			<div class="people_meta_detail faculty_type">
								<div class="people_meta_detail_label">Faculty Type</div>
																	<div class="people_meta_detail_item">Administration</div>
																	<div class="people_meta_detail_item">Full Time Faculty</div>
															</div>
																							</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Person Meta -->			</div>
			<div class="fs-cell fs-lg-8 fs-xl-8">
								<!-- WYSIWYG -->
				<div class="typography">
					<p class="intro">Dr. Loukas was appointed dean of the School of Medicine in 2021.</p>
					<p>Prior, he was appointed chairman of the Department of Anatomical Sciences at SGU in 2008. He is responsible for managing the anatomy department, developing curriculum, supervising research and inspiring scholarly activities. Under his guidance, the department publishes approximately 70 to 80 academic papers a year. In addition, Dr. Loukas is the University's dean of research and assistant dean of basic and allied health sciences.</p>
					<p>Prior to joining SGU, Dr. Loukas taught anatomy, histology, and radiology at Harvard Medical School's Department of Education and Development for seven years. He also taught anatomy at the American University of the Caribbean and was course director and Chairman of the Department of Anatomy for one year. Dr. Loukas served on the Student Evaluation and Promotion Committee and Faculty Evaluation Committee, and was chair of the Information Technology Committee at the American University of the Caribbean. Dr. Loukas has won several awards for research and teaching and has published over 300 works in a variety of publications.</p>
				</div>
				<!-- END: WYSIWYG -->
			</div>
		</div>
	</div>
</div>
