<div class="full_width_callouts" id="page_content" tabindex="-1" aria-labelledby="page_title">
	{% include '@partial-department-list' with {
		title: page.title,
		items: [
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University.',
				url: 'page-directory-detail.html',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Student Accessibility and Accommodation Services',
				description: 'The mission of the Student Accessibility and Accommodation Services is to provide equal opportunity to students with disabilities and promote a welcoming campus environment for those needing accommodations.',
				url: 'page-directory-detail.html',
				email: 'accessibility@sgu.edu'
			},
			{
				name: 'Department of Educational Services',
				description: 'Our dedicated Department of Educational Services (DES) teaches students how to learn and teachers how to teach. This unique and highly effective faculty is the largest on campus, and is an important component of student and graduate success.',
				url: '',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Health and Psychological Services',
				description: 'Available to the entire SGU community, University Health Services (UHS) and the Psychological Services Center (PSC) are committed to providing the best service by a qualified and experienced staff.',
				url: 'page-directory-detail.html',
				email: ''
			},
			{
				name: 'Career Guidance and Student Development',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University.',
				url: 'page-directory-detail.html',
				email: 'studentdev@sgu.edu'
			},
			{
				name: 'Office of the University Registrar',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: 'page-directory-detail.html',
				email: 'registrar@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: '',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: 'page-directory-detail.html',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: 'page-directory-detail.html',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: 'page-directory-detail.html',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: '',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: 'page-directory-detail.html',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: 'page-directory-detail.html',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: 'page-directory-detail.html',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: '',
				email: 'office-dean@sgu.edu'
			},
			{
				name: 'Office of the Dean of Students',
				description: 'From orientation to graduation, the Dean of Students (DOS) Office provides support and guidance in non-academic areas to all students in the University. ',
				url: 'page-directory-detail.html',
				email: 'office-dean@sgu.edu'
			}
		]
	} %}
</div>