

<div class="featured_articles">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="featured_articles_inner">
				<div class="featured_articles_header">
					<h2 class="featured_articles_title">School of Veterinary Medicine</h2>
				</div>
				<div class="featured_articles_body">
					<div class="featured_articles_main_feature">
						<figure class="main_feature_figure">
							
<img class="main_feature_image" srcset="https://images.fastspot.com/generic/980x552/2 980w, https://images.fastspot.com/generic/740x416/2 740w, https://images.fastspot.com/generic/500x282/2 500w, https://images.fastspot.com/generic/300x169/2 300w" src="https://images.fastspot.com/generic/300x169/2" alt="" loading="lazy" width="300" height="169">
						</figure>
						<div class="main_feature_wrapper">
							<h3 class="main_feature_title">
								<a href="#" class="main_feature_title_link">A Look at the Veterinary School Prerequisites You’ll Need to Complete</a>
							</h3>
															<div class="main_feature_categories">
																			<a href="#" class="main_feature_category">Vet School</a>
																	</div>
																					<span class="main_feature_description">This spring, St. George's University announced it has awarded merit-based scholarships to 110 incoming medical school students.</span>
													</div>
					</div>
					<div class="featured_articles_list">
													<div class="featured_articles_item">
								<figure class="featured_articles_item_figure">
									
<img class="featured_articles_item_image" srcset="https://images.fastspot.com/generic/740x416/1 740w, https://images.fastspot.com/generic/500x282/1 500w, https://images.fastspot.com/generic/300x169/1 300w" src="https://images.fastspot.com/generic/300x169/1" alt="" loading="lazy" width="300" height="169">
								</figure>
								<div class="featured_articles_item_wrapper">
									<h3 class="featured_articles_item_title">
										<a href="#" class="featured_articles_item_title_link">A Look at the Veterinary School Prerequisites You'll Need to Complete</a>
									</h3>
																			<div class="featured_articles_item_categories">
																							<a href="#" class="featured_articles_item_category">Vet School</a>
																					</div>
																	</div>
							</div>
													<div class="featured_articles_item">
								<figure class="featured_articles_item_figure">
									
<img class="featured_articles_item_image" srcset="https://images.fastspot.com/generic/740x416/3 740w, https://images.fastspot.com/generic/500x282/3 500w, https://images.fastspot.com/generic/300x169/3 300w" src="https://images.fastspot.com/generic/300x169/3" alt="" loading="lazy" width="300" height="169">
								</figure>
								<div class="featured_articles_item_wrapper">
									<h3 class="featured_articles_item_title">
										<a href="#" class="featured_articles_item_title_link">3 Inspiring Caribbean Vet School Success Stories</a>
									</h3>
																			<div class="featured_articles_item_categories">
																							<a href="#" class="featured_articles_item_category">Vet School</a>
																					</div>
																	</div>
							</div>
													<div class="featured_articles_item">
								<figure class="featured_articles_item_figure">
									
<img class="featured_articles_item_image" srcset="https://images.fastspot.com/generic/740x416/4 740w, https://images.fastspot.com/generic/500x282/4 500w, https://images.fastspot.com/generic/300x169/4 300w" src="https://images.fastspot.com/generic/300x169/4" alt="" loading="lazy" width="300" height="169">
								</figure>
								<div class="featured_articles_item_wrapper">
									<h3 class="featured_articles_item_title">
										<a href="#" class="featured_articles_item_title_link">6 Things the Top Veterinary Schools Have in Common</a>
									</h3>
																			<div class="featured_articles_item_categories">
																							<a href="#" class="featured_articles_item_category">Vet School</a>
																					</div>
																	</div>
							</div>
													<div class="featured_articles_item">
								<figure class="featured_articles_item_figure">
									
<img class="featured_articles_item_image" srcset="https://images.fastspot.com/generic/740x416/5 740w, https://images.fastspot.com/generic/500x282/5 500w, https://images.fastspot.com/generic/300x169/5 300w" src="https://images.fastspot.com/generic/300x169/5" alt="" loading="lazy" width="300" height="169">
								</figure>
								<div class="featured_articles_item_wrapper">
									<h3 class="featured_articles_item_title">
										<a href="#" class="featured_articles_item_title_link">A Look at the Veterinary School Prerequisites You'll Need to Complete</a>
									</h3>
																			<div class="featured_articles_item_categories">
																							<a href="#" class="featured_articles_item_category">Vet School</a>
																					</div>
																	</div>
							</div>
																		<a href="#" class="featured_articles_view_more_link">Explore Blog</a>
											</div>
				</div>
			</div>
		</div>
	</div>
</div>
