

<div class="news_related_categories news_related_stacked">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="news_related_categories_inner">
				<div class="news_related_categories_header">
					<div class="news_related_categories_header_inner">
						<h2 class="news_related_categories_title">Related Articles</h2>
					</div>
				</div>
				<div class="news_related_categories_body">
					<ul class="news_related_categories_items" aria-label="Related Articles">
													<li class="news_related_categories_item">
																	<figure class="news_related_categories_item_figure">
										<a class="news_related_categories_item_figure_link" href="page-news-detail.html" aria-label="Read more about From The Deep South To Down Under: How This SVM Grad Found “The Place To Be”" tabindex="-1">
											
<img class="news_related_categories_item_image" srcset="https://images.fastspot.com/generic/980x654/1 980w, https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
										</a>
																				<span class="news_related_categories_item_figure_icon">
			<svg class="icon icon_video">
				<use href="/images/icons.svg#video" />
			</svg>
		</span>
																			</figure>
																<div class="news_related_categories_item_wrapper">
									<div class="news_related_categories_item_header">
										<h3 class="news_related_categories_item_title">
											
<a href="page-news-detail.html" class="news_related_categories_item_title_link" >
	<span class="news_related_categories_item_title_link_inner">
					<span class="news_related_categories_item_title_link_label">From The Deep South To Down Under: How This SVM Grad Found “The Place To Be”</span>
						</span>
</a>										</h3>
										<div class="news_related_categories_item_header_group">
																							<div class="news_related_categories_item_date">
													<span class="news_related_categories_item_date_hint">Published:&nbsp;</span>
													<time class="news_related_categories_item_date_label" datetime="2022-04-28 17:00:00">April 28, 2022</time>
												</div>
																																		<div class="news_related_categories_item_categories">
													<div class="news_related_categories_item_category_hint">Categories</div>
													<ul class="news_related_categories_item_category_list" aria-label="Categories">
																													<li class="news_related_categories_item_category">
																<a class="news_related_categories_item_category_link" href="page-news-category.html">Profile</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
									<div class="news_related_categories_item_body">
																			</div>
								</div>
							</li>
													<li class="news_related_categories_item">
																	<figure class="news_related_categories_item_figure">
										<a class="news_related_categories_item_figure_link" href="page-news-detail.html" aria-label="Read more about NCFMEA: SGU Med School Accreditor On Par With US Schools" tabindex="-1">
											
<img class="news_related_categories_item_image" srcset="https://images.fastspot.com/generic/980x654/2 980w, https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
										</a>
																				<span class="news_related_categories_item_figure_icon">
			<svg class="icon icon_podcast">
				<use href="/images/icons.svg#podcast" />
			</svg>
		</span>
																			</figure>
																<div class="news_related_categories_item_wrapper">
									<div class="news_related_categories_item_header">
										<h3 class="news_related_categories_item_title">
											
<a href="page-news-detail.html" class="news_related_categories_item_title_link" >
	<span class="news_related_categories_item_title_link_inner">
					<span class="news_related_categories_item_title_link_label">NCFMEA: SGU Med School Accreditor On Par With US Schools</span>
						</span>
</a>										</h3>
										<div class="news_related_categories_item_header_group">
																							<div class="news_related_categories_item_date">
													<span class="news_related_categories_item_date_hint">Published:&nbsp;</span>
													<time class="news_related_categories_item_date_label" datetime="2022-04-28 17:00:00">April 28, 2022</time>
												</div>
																																		<div class="news_related_categories_item_categories">
													<div class="news_related_categories_item_category_hint">Categories</div>
													<ul class="news_related_categories_item_category_list" aria-label="Categories">
																													<li class="news_related_categories_item_category">
																<a class="news_related_categories_item_category_link" href="page-news-category.html">Announcement</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
									<div class="news_related_categories_item_body">
																			</div>
								</div>
							</li>
													<li class="news_related_categories_item">
																	<figure class="news_related_categories_item_figure">
										<a class="news_related_categories_item_figure_link" href="page-news-detail.html" aria-label="Read more about New SGU Orthopaedic Surgery Club Preps Students For Competitive Specialty" tabindex="-1">
											
<img class="news_related_categories_item_image" srcset="https://images.fastspot.com/generic/980x654/3 980w, https://images.fastspot.com/generic/740x494/3 740w, https://images.fastspot.com/generic/500x334/3 500w, https://images.fastspot.com/generic/300x200/3 300w" src="https://images.fastspot.com/generic/300x200/3" alt="" loading="lazy" width="300" height="200">
										</a>
																			</figure>
																<div class="news_related_categories_item_wrapper">
									<div class="news_related_categories_item_header">
										<h3 class="news_related_categories_item_title">
											
<a href="page-news-detail.html" class="news_related_categories_item_title_link" >
	<span class="news_related_categories_item_title_link_inner">
					<span class="news_related_categories_item_title_link_label">New SGU Orthopaedic Surgery Club Preps Students For Competitive Specialty</span>
						</span>
</a>										</h3>
										<div class="news_related_categories_item_header_group">
																							<div class="news_related_categories_item_date">
													<span class="news_related_categories_item_date_hint">Published:&nbsp;</span>
													<time class="news_related_categories_item_date_label" datetime="2022-04-28 17:00:00">April 28, 2022</time>
												</div>
																																		<div class="news_related_categories_item_categories">
													<div class="news_related_categories_item_category_hint">Categories</div>
													<ul class="news_related_categories_item_category_list" aria-label="Categories">
																													<li class="news_related_categories_item_category">
																<a class="news_related_categories_item_category_link" href="page-news-category.html">Profile</a>
															</li>
																											</ul>
												</div>
																					</div>
									</div>
									<div class="news_related_categories_item_body">
																			</div>
								</div>
							</li>
											</ul>
				</div>
			</div>
		</div>
	</div>
</div>
