


<div class="testimonials">
	<div class="testimonials_texture"></div>
	<div class="fs-row">
		<div class="fs-cell">
			<div class="testimonials_inner">
				<div class="testimonials_accordion_wrapper">
					<div class="testimonials_accordion_header">
						<h2 class="testimonials_accordion_title">Hear From Students & Alumni</h2>
													<p class="testimonials_accordion_description">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
											</div>
					<div class="testimonials_grid">
						<div class="testimonials_accordion">
							<h3 class="testimonials_accordion_label">The Big Questions</h3>
							<div class="testimonials_accordion_group">
																	<div class="testimonial testimonial_js-testimonials-1_1 js-testimonial">
										<button class="testimonial_title js-swap" data-swap-target=".testimonial_js-testimonials-1_1" data-swap-options='{"collapse": false}' data-swap-group="testimonials-group-1">What's it like to live and learn in Grenada?</button>
										<div class="testimonials_detail testimonials_detail_js-testimonials-1_1">
											<div class="testimonials_detail_item_media">
												<figure class="testimonials_figure">
													
<img class="testimonials_detail_item_image" srcset="https://images.fastspot.com/generic/1440x810/1 1440w, https://images.fastspot.com/generic/1220x686/1 1220w, https://images.fastspot.com/generic/980x552/1 980w, https://images.fastspot.com/generic/740x416/1 740w, https://images.fastspot.com/generic/500x282/1 500w, https://images.fastspot.com/generic/300x169/1 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/1" alt="" loading="lazy" width="300" height="169">
												</figure>
																																																													<div class="lazy_video js-video-lazy-load testimonials_detail_item_video_wrapper" data-video-lazy-load='{"id":"RmS2O2kpfVM","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
													<a class="js-play-btn js-swap testimonials_detail_item_button" href="https://www.youtube.com/watch?v=RmS2O2kpfVM" aria-label="Play School of Medicine" data-swap-target=".testimonials_detail_js-testimonials-1_1">
														<span class="testimonials_detail_item_button_group">
															<span class="testimonials_detail_item_button_label">Second Year Resident</span>
															<span class="testimonials_detail_item_button_name">Charlotte Marous, MD</span>
														</span>
														<span class="testimonials_detail_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
													</a>
													<div class="lazy_video_iframe_wrap">
														<div class="lazy_video_iframe_target js-iframe-target"></div>
													</div>
												</div>
											</div>
											<div class="testimonials_detail_item_group">
												<p class="testimonials_detail_item_group_label">Real Answers</p>
												<p class="testimonials_detail_item_group_quote">"SGU gave me an opportunity to go into medicine that I didn't find anywhere else. I'm very appreciative of that."</p>
											</div>
										</div>
									</div>
																	<div class="testimonial testimonial_js-testimonials-1_2 js-testimonial">
										<button class="testimonial_title js-swap" data-swap-target=".testimonial_js-testimonials-1_2" data-swap-options='{"collapse": false}' data-swap-group="testimonials-group-1">Did you feel prepaired for the start of your residency?</button>
										<div class="testimonials_detail testimonials_detail_js-testimonials-1_2">
											<div class="testimonials_detail_item_media">
												<figure class="testimonials_figure">
													
<img class="testimonials_detail_item_image" srcset="https://images.fastspot.com/generic/1440x810/2 1440w, https://images.fastspot.com/generic/1220x686/2 1220w, https://images.fastspot.com/generic/980x552/2 980w, https://images.fastspot.com/generic/740x416/2 740w, https://images.fastspot.com/generic/500x282/2 500w, https://images.fastspot.com/generic/300x169/2 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/2" alt="" loading="lazy" width="300" height="169">
												</figure>
																																																													<div class="lazy_video js-video-lazy-load testimonials_detail_item_video_wrapper" data-video-lazy-load='{"id":"JagguAh_KWc","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
													<a class="js-play-btn js-swap testimonials_detail_item_button" href="https://www.youtube.com/watch?v=JagguAh_KWc" aria-label="Play School of Medicine" data-swap-target=".testimonials_detail_js-testimonials-1_2">
														<span class="testimonials_detail_item_button_group">
															<span class="testimonials_detail_item_button_label">Second Year Resident</span>
															<span class="testimonials_detail_item_button_name">Charlotte Marous, MD</span>
														</span>
														<span class="testimonials_detail_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
													</a>
													<div class="lazy_video_iframe_wrap">
														<div class="lazy_video_iframe_target js-iframe-target"></div>
													</div>
												</div>
											</div>
											<div class="testimonials_detail_item_group">
												<p class="testimonials_detail_item_group_label">Real Answers</p>
												<p class="testimonials_detail_item_group_quote">"SGU gave me an very appreciative of that."</p>
											</div>
										</div>
									</div>
																	<div class="testimonial testimonial_js-testimonials-1_3 js-testimonial">
										<button class="testimonial_title js-swap" data-swap-target=".testimonial_js-testimonials-1_3" data-swap-options='{"collapse": false}' data-swap-group="testimonials-group-1">Why did you choose SGU over a Doctors of Osteopathic Medicine program?</button>
										<div class="testimonials_detail testimonials_detail_js-testimonials-1_3">
											<div class="testimonials_detail_item_media">
												<figure class="testimonials_figure">
													
<img class="testimonials_detail_item_image" srcset="https://images.fastspot.com/generic/1440x810/3 1440w, https://images.fastspot.com/generic/1220x686/3 1220w, https://images.fastspot.com/generic/980x552/3 980w, https://images.fastspot.com/generic/740x416/3 740w, https://images.fastspot.com/generic/500x282/3 500w, https://images.fastspot.com/generic/300x169/3 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/3" alt="" loading="lazy" width="300" height="169">
												</figure>
																																																													<div class="lazy_video js-video-lazy-load testimonials_detail_item_video_wrapper" data-video-lazy-load='{"id":"hKEQDrW4fVk","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
													<a class="js-play-btn js-swap testimonials_detail_item_button" href="https://www.youtube.com/watch?v=hKEQDrW4fVk" aria-label="Play School of Medicine" data-swap-target=".testimonials_detail_js-testimonials-1_3">
														<span class="testimonials_detail_item_button_group">
															<span class="testimonials_detail_item_button_label">Second Year Resident</span>
															<span class="testimonials_detail_item_button_name">Charlott, MD</span>
														</span>
														<span class="testimonials_detail_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
													</a>
													<div class="lazy_video_iframe_wrap">
														<div class="lazy_video_iframe_target js-iframe-target"></div>
													</div>
												</div>
											</div>
											<div class="testimonials_detail_item_group">
												<p class="testimonials_detail_item_group_label">Real Answers</p>
												<p class="testimonials_detail_item_group_quote">"SGU gave me an opportunity to go into medicine that I didn't find anywhere else. I'm very appreciative of that."</p>
											</div>
										</div>
									</div>
																	<div class="testimonial testimonial_js-testimonials-1_4 js-testimonial">
										<button class="testimonial_title js-swap" data-swap-target=".testimonial_js-testimonials-1_4" data-swap-options='{"collapse": false}' data-swap-group="testimonials-group-1">Can I get financial help with SGU tuition?</button>
										<div class="testimonials_detail testimonials_detail_js-testimonials-1_4">
											<div class="testimonials_detail_item_media">
												<figure class="testimonials_figure">
													
<img class="testimonials_detail_item_image" srcset="https://images.fastspot.com/generic/1440x810/4 1440w, https://images.fastspot.com/generic/1220x686/4 1220w, https://images.fastspot.com/generic/980x552/4 980w, https://images.fastspot.com/generic/740x416/4 740w, https://images.fastspot.com/generic/500x282/4 500w, https://images.fastspot.com/generic/300x169/4 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/4" alt="" loading="lazy" width="300" height="169">
												</figure>
																																																													<div class="lazy_video js-video-lazy-load testimonials_detail_item_video_wrapper" data-video-lazy-load='{"id":"u2o8jq4aJp4","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
													<a class="js-play-btn js-swap testimonials_detail_item_button" href="https://www.youtube.com/watch?v=u2o8jq4aJp4" aria-label="Play School of Medicine" data-swap-target=".testimonials_detail_js-testimonials-1_4">
														<span class="testimonials_detail_item_button_group">
															<span class="testimonials_detail_item_button_label">Second Year Resident</span>
															<span class="testimonials_detail_item_button_name">Charlotte Marous, MD</span>
														</span>
														<span class="testimonials_detail_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
													</a>
													<div class="lazy_video_iframe_wrap">
														<div class="lazy_video_iframe_target js-iframe-target"></div>
													</div>
												</div>
											</div>
											<div class="testimonials_detail_item_group">
												<p class="testimonials_detail_item_group_label">Real Answers</p>
												<p class="testimonials_detail_item_group_quote">"I didn't find anywhere else. I'm very appreciative of that."</p>
											</div>
										</div>
									</div>
																	<div class="testimonial testimonial_js-testimonials-1_5 js-testimonial">
										<button class="testimonial_title js-swap" data-swap-target=".testimonial_js-testimonials-1_5" data-swap-options='{"collapse": false}' data-swap-group="testimonials-group-1">What is the alumni community like?</button>
										<div class="testimonials_detail testimonials_detail_js-testimonials-1_5">
											<div class="testimonials_detail_item_media">
												<figure class="testimonials_figure">
													
<img class="testimonials_detail_item_image" srcset="https://images.fastspot.com/generic/1440x810/5 1440w, https://images.fastspot.com/generic/1220x686/5 1220w, https://images.fastspot.com/generic/980x552/5 980w, https://images.fastspot.com/generic/740x416/5 740w, https://images.fastspot.com/generic/500x282/5 500w, https://images.fastspot.com/generic/300x169/5 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/5" alt="" loading="lazy" width="300" height="169">
												</figure>
																																																													<div class="lazy_video js-video-lazy-load testimonials_detail_item_video_wrapper" data-video-lazy-load='{"id":"JxyN3wvgJRk","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
													<a class="js-play-btn js-swap testimonials_detail_item_button" href="https://www.youtube.com/watch?v=JxyN3wvgJRk" aria-label="Play School of Medicine" data-swap-target=".testimonials_detail_js-testimonials-1_5">
														<span class="testimonials_detail_item_button_group">
															<span class="testimonials_detail_item_button_label">Second Year Resident</span>
															<span class="testimonials_detail_item_button_name">Charlotte Marous, MD</span>
														</span>
														<span class="testimonials_detail_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
													</a>
													<div class="lazy_video_iframe_wrap">
														<div class="lazy_video_iframe_target js-iframe-target"></div>
													</div>
												</div>
											</div>
											<div class="testimonials_detail_item_group">
												<p class="testimonials_detail_item_group_label">Real Answers</p>
												<p class="testimonials_detail_item_group_quote">"SGU gave me an opportunity to go into medicine that I didn't find anywhere else. I'm very appreciative of that."</p>
											</div>
										</div>
									</div>
																	<div class="testimonial testimonial_js-testimonials-1_6 js-testimonial">
										<button class="testimonial_title js-swap" data-swap-target=".testimonial_js-testimonials-1_6" data-swap-options='{"collapse": false}' data-swap-group="testimonials-group-1">Can I get financial help with SGU tuition?</button>
										<div class="testimonials_detail testimonials_detail_js-testimonials-1_6">
											<div class="testimonials_detail_item_media">
												<figure class="testimonials_figure">
													
<img class="testimonials_detail_item_image" srcset="https://images.fastspot.com/generic/1440x810/6 1440w, https://images.fastspot.com/generic/1220x686/6 1220w, https://images.fastspot.com/generic/980x552/6 980w, https://images.fastspot.com/generic/740x416/6 740w, https://images.fastspot.com/generic/500x282/6 500w, https://images.fastspot.com/generic/300x169/6 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/6" alt="" loading="lazy" width="300" height="169">
												</figure>
																																																													<div class="lazy_video js-video-lazy-load testimonials_detail_item_video_wrapper" data-video-lazy-load='{"id":"30eg_NH2mUI","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
													<a class="js-play-btn js-swap testimonials_detail_item_button" href="https://www.youtube.com/watch?v=30eg_NH2mUI" aria-label="Play School of Medicine" data-swap-target=".testimonials_detail_js-testimonials-1_6">
														<span class="testimonials_detail_item_button_group">
															<span class="testimonials_detail_item_button_label">Second Year Resident</span>
															<span class="testimonials_detail_item_button_name">Charlotte Marous, MD</span>
														</span>
														<span class="testimonials_detail_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
													</a>
													<div class="lazy_video_iframe_wrap">
														<div class="lazy_video_iframe_target js-iframe-target"></div>
													</div>
												</div>
											</div>
											<div class="testimonials_detail_item_group">
												<p class="testimonials_detail_item_group_label">Real Answers</p>
												<p class="testimonials_detail_item_group_quote">"SGU gave me an opportunity to go into medicine that I didn't find anywhere else. I'm very appreciative of that."</p>
											</div>
										</div>
									</div>
															</div>
						</div>
						<div class="testimonials_visuals_wrapper">
															<div class="testimonials_visuals_item testimonial_js-testimonials-1_1 testimonial_js-testimonials-1_1">
									<div class="testimonials_visuals_item_media testimonials_media_js-testimonials-1_1">
										<figure class="testimonials_visuals_item_figure">
											
<img class="testimonials_visuals_item_image" srcset="https://images.fastspot.com/generic/1440x810/1 1440w, https://images.fastspot.com/generic/1220x686/1 1220w, https://images.fastspot.com/generic/980x552/1 980w, https://images.fastspot.com/generic/740x416/1 740w, https://images.fastspot.com/generic/500x282/1 500w, https://images.fastspot.com/generic/300x169/1 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/1" alt="" loading="lazy" width="300" height="169">
										</figure>
																																																			<div class="lazy_video js-video-lazy-load testimonials_visuals_item_video_wrapper" data-video-lazy-load='{"id":"RmS2O2kpfVM","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
											<a class="js-play-btn js-swap testimonials_visuals_item_button" href="https://www.youtube.com/watch?v=RmS2O2kpfVM" aria-label="Play School of Medicine" data-swap-target=".testimonials_media_js-testimonials-1_1">
												<span class="testimonials_visuals_item_button_group">
													<span class="testimonials_visuals_item_button_label">Second Year Resident</span>
													<span class="testimonials_visuals_item_button_name">Charlotte Marous, MD</span>
												</span>
												<span class="testimonials_visuals_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
											</a>
											<div class="lazy_video_iframe_wrap">
												<div class="lazy_video_iframe_target js-iframe-target"></div>
											</div>
										</div>
									</div>
									<div class="testimonials_visuals_item_group">
										<p class="testimonials_visuals_item_group_label">Real Answers</p>
										<p class="testimonials_visuals_item_group_quote">"SGU gave me an opportunity to go into medicine that I didn't find anywhere else. I'm very appreciative of that."</p>
									</div>
								</div>
															<div class="testimonials_visuals_item testimonial_js-testimonials-1_2 testimonial_js-testimonials-1_2">
									<div class="testimonials_visuals_item_media testimonials_media_js-testimonials-1_2">
										<figure class="testimonials_visuals_item_figure">
											
<img class="testimonials_visuals_item_image" srcset="https://images.fastspot.com/generic/1440x810/2 1440w, https://images.fastspot.com/generic/1220x686/2 1220w, https://images.fastspot.com/generic/980x552/2 980w, https://images.fastspot.com/generic/740x416/2 740w, https://images.fastspot.com/generic/500x282/2 500w, https://images.fastspot.com/generic/300x169/2 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/2" alt="" loading="lazy" width="300" height="169">
										</figure>
																																																			<div class="lazy_video js-video-lazy-load testimonials_visuals_item_video_wrapper" data-video-lazy-load='{"id":"JagguAh_KWc","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
											<a class="js-play-btn js-swap testimonials_visuals_item_button" href="https://www.youtube.com/watch?v=JagguAh_KWc" aria-label="Play School of Medicine" data-swap-target=".testimonials_media_js-testimonials-1_2">
												<span class="testimonials_visuals_item_button_group">
													<span class="testimonials_visuals_item_button_label">Second Year Resident</span>
													<span class="testimonials_visuals_item_button_name">Charlotte Marous, MD</span>
												</span>
												<span class="testimonials_visuals_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
											</a>
											<div class="lazy_video_iframe_wrap">
												<div class="lazy_video_iframe_target js-iframe-target"></div>
											</div>
										</div>
									</div>
									<div class="testimonials_visuals_item_group">
										<p class="testimonials_visuals_item_group_label">Real Answers</p>
										<p class="testimonials_visuals_item_group_quote">"SGU gave me an very appreciative of that."</p>
									</div>
								</div>
															<div class="testimonials_visuals_item testimonial_js-testimonials-1_3 testimonial_js-testimonials-1_3">
									<div class="testimonials_visuals_item_media testimonials_media_js-testimonials-1_3">
										<figure class="testimonials_visuals_item_figure">
											
<img class="testimonials_visuals_item_image" srcset="https://images.fastspot.com/generic/1440x810/3 1440w, https://images.fastspot.com/generic/1220x686/3 1220w, https://images.fastspot.com/generic/980x552/3 980w, https://images.fastspot.com/generic/740x416/3 740w, https://images.fastspot.com/generic/500x282/3 500w, https://images.fastspot.com/generic/300x169/3 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/3" alt="" loading="lazy" width="300" height="169">
										</figure>
																																																			<div class="lazy_video js-video-lazy-load testimonials_visuals_item_video_wrapper" data-video-lazy-load='{"id":"hKEQDrW4fVk","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
											<a class="js-play-btn js-swap testimonials_visuals_item_button" href="https://www.youtube.com/watch?v=hKEQDrW4fVk" aria-label="Play School of Medicine" data-swap-target=".testimonials_media_js-testimonials-1_3">
												<span class="testimonials_visuals_item_button_group">
													<span class="testimonials_visuals_item_button_label">Second Year Resident</span>
													<span class="testimonials_visuals_item_button_name">Charlott, MD</span>
												</span>
												<span class="testimonials_visuals_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
											</a>
											<div class="lazy_video_iframe_wrap">
												<div class="lazy_video_iframe_target js-iframe-target"></div>
											</div>
										</div>
									</div>
									<div class="testimonials_visuals_item_group">
										<p class="testimonials_visuals_item_group_label">Real Answers</p>
										<p class="testimonials_visuals_item_group_quote">"SGU gave me an opportunity to go into medicine that I didn't find anywhere else. I'm very appreciative of that."</p>
									</div>
								</div>
															<div class="testimonials_visuals_item testimonial_js-testimonials-1_4 testimonial_js-testimonials-1_4">
									<div class="testimonials_visuals_item_media testimonials_media_js-testimonials-1_4">
										<figure class="testimonials_visuals_item_figure">
											
<img class="testimonials_visuals_item_image" srcset="https://images.fastspot.com/generic/1440x810/4 1440w, https://images.fastspot.com/generic/1220x686/4 1220w, https://images.fastspot.com/generic/980x552/4 980w, https://images.fastspot.com/generic/740x416/4 740w, https://images.fastspot.com/generic/500x282/4 500w, https://images.fastspot.com/generic/300x169/4 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/4" alt="" loading="lazy" width="300" height="169">
										</figure>
																																																			<div class="lazy_video js-video-lazy-load testimonials_visuals_item_video_wrapper" data-video-lazy-load='{"id":"u2o8jq4aJp4","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
											<a class="js-play-btn js-swap testimonials_visuals_item_button" href="https://www.youtube.com/watch?v=u2o8jq4aJp4" aria-label="Play School of Medicine" data-swap-target=".testimonials_media_js-testimonials-1_4">
												<span class="testimonials_visuals_item_button_group">
													<span class="testimonials_visuals_item_button_label">Second Year Resident</span>
													<span class="testimonials_visuals_item_button_name">Charlotte Marous, MD</span>
												</span>
												<span class="testimonials_visuals_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
											</a>
											<div class="lazy_video_iframe_wrap">
												<div class="lazy_video_iframe_target js-iframe-target"></div>
											</div>
										</div>
									</div>
									<div class="testimonials_visuals_item_group">
										<p class="testimonials_visuals_item_group_label">Real Answers</p>
										<p class="testimonials_visuals_item_group_quote">"I didn't find anywhere else. I'm very appreciative of that."</p>
									</div>
								</div>
															<div class="testimonials_visuals_item testimonial_js-testimonials-1_5 testimonial_js-testimonials-1_5">
									<div class="testimonials_visuals_item_media testimonials_media_js-testimonials-1_5">
										<figure class="testimonials_visuals_item_figure">
											
<img class="testimonials_visuals_item_image" srcset="https://images.fastspot.com/generic/1440x810/5 1440w, https://images.fastspot.com/generic/1220x686/5 1220w, https://images.fastspot.com/generic/980x552/5 980w, https://images.fastspot.com/generic/740x416/5 740w, https://images.fastspot.com/generic/500x282/5 500w, https://images.fastspot.com/generic/300x169/5 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/5" alt="" loading="lazy" width="300" height="169">
										</figure>
																																																			<div class="lazy_video js-video-lazy-load testimonials_visuals_item_video_wrapper" data-video-lazy-load='{"id":"JxyN3wvgJRk","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
											<a class="js-play-btn js-swap testimonials_visuals_item_button" href="https://www.youtube.com/watch?v=JxyN3wvgJRk" aria-label="Play School of Medicine" data-swap-target=".testimonials_media_js-testimonials-1_5">
												<span class="testimonials_visuals_item_button_group">
													<span class="testimonials_visuals_item_button_label">Second Year Resident</span>
													<span class="testimonials_visuals_item_button_name">Charlotte Marous, MD</span>
												</span>
												<span class="testimonials_visuals_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
											</a>
											<div class="lazy_video_iframe_wrap">
												<div class="lazy_video_iframe_target js-iframe-target"></div>
											</div>
										</div>
									</div>
									<div class="testimonials_visuals_item_group">
										<p class="testimonials_visuals_item_group_label">Real Answers</p>
										<p class="testimonials_visuals_item_group_quote">"SGU gave me an opportunity to go into medicine that I didn't find anywhere else. I'm very appreciative of that."</p>
									</div>
								</div>
															<div class="testimonials_visuals_item testimonial_js-testimonials-1_6 testimonial_js-testimonials-1_6">
									<div class="testimonials_visuals_item_media testimonials_media_js-testimonials-1_6">
										<figure class="testimonials_visuals_item_figure">
											
<img class="testimonials_visuals_item_image" srcset="https://images.fastspot.com/generic/1440x810/6 1440w, https://images.fastspot.com/generic/1220x686/6 1220w, https://images.fastspot.com/generic/980x552/6 980w, https://images.fastspot.com/generic/740x416/6 740w, https://images.fastspot.com/generic/500x282/6 500w, https://images.fastspot.com/generic/300x169/6 300w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/300x169/6" alt="" loading="lazy" width="300" height="169">
										</figure>
																																																			<div class="lazy_video js-video-lazy-load testimonials_visuals_item_video_wrapper" data-video-lazy-load='{"id":"30eg_NH2mUI","type":"youtube","title":"School of Medicine","display":"inline","autoplay":false,"playerVars":{}}'>
											<a class="js-play-btn js-swap testimonials_visuals_item_button" href="https://www.youtube.com/watch?v=30eg_NH2mUI" aria-label="Play School of Medicine" data-swap-target=".testimonials_media_js-testimonials-1_6">
												<span class="testimonials_visuals_item_button_group">
													<span class="testimonials_visuals_item_button_label">Second Year Resident</span>
													<span class="testimonials_visuals_item_button_name">Charlotte Marous, MD</span>
												</span>
												<span class="testimonials_visuals_item_icon">
			<svg class="icon icon_play">
				<use href="/images/icons.svg#play" />
			</svg>
		</span>
											</a>
											<div class="lazy_video_iframe_wrap">
												<div class="lazy_video_iframe_target js-iframe-target"></div>
											</div>
										</div>
									</div>
									<div class="testimonials_visuals_item_group">
										<p class="testimonials_visuals_item_group_label">Real Answers</p>
										<p class="testimonials_visuals_item_group_quote">"SGU gave me an opportunity to go into medicine that I didn't find anywhere else. I'm very appreciative of that."</p>
									</div>
								</div>
													</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
