


<div class="pathways">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="pathways_inner">
				<div class="pathways_accordion_wrapper">
					<div class="pathways_accordion_header">
						<h2 class="pathways_accordion_title">Explore these MD Pathways</h2>
					</div>
					<div class="pathways_accordion">
													<div class="pathway pathway_js-pathways-1_1 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/1 1220w, https://images.fastspot.com/generic/980x654/1 980w, https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-1_1" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-1">Doctor of Medicine</button>
																	<span class="pathway_description">A 4 year program for students of education systems around the world to earn their MD.</span>
																									<a href="#" class="pathway_link">Explore MD Program</a>
															</div>
													<div class="pathway pathway_js-pathways-1_2 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/2 1220w, https://images.fastspot.com/generic/980x654/2 980w, https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-1_2" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-1">Pre-Med + MD</button>
																	<span class="pathway_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																									<a href="#" class="pathway_link">Read More</a>
															</div>
													<div class="pathway pathway_js-pathways-1_3 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/3 1220w, https://images.fastspot.com/generic/980x654/3 980w, https://images.fastspot.com/generic/740x494/3 740w, https://images.fastspot.com/generic/500x334/3 500w, https://images.fastspot.com/generic/300x200/3 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/3" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-1_3" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-1">MD + MPH</button>
																	<span class="pathway_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																									<a href="#" class="pathway_link">Read More</a>
															</div>
													<div class="pathway pathway_js-pathways-1_4 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/4 1220w, https://images.fastspot.com/generic/980x654/4 980w, https://images.fastspot.com/generic/740x494/4 740w, https://images.fastspot.com/generic/500x334/4 500w, https://images.fastspot.com/generic/300x200/4 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/4" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-1_4" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-1">Medical PhD</button>
																	<span class="pathway_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																									<a href="#" class="pathway_link">Read More</a>
															</div>
													<div class="pathway pathway_js-pathways-1_5 js-pathway">
								<figure class="pathway_figure">
									
<img class="pathway_image" srcset="https://images.fastspot.com/generic/1220x814/5 1220w, https://images.fastspot.com/generic/980x654/5 980w, https://images.fastspot.com/generic/740x494/5 740w, https://images.fastspot.com/generic/500x334/5 500w, https://images.fastspot.com/generic/300x200/5 300w" sizes="(min-width: 740px) 0, 90vw"  src="https://images.fastspot.com/generic/300x200/5" alt="" loading="lazy" width="300" height="200">
								</figure>
								<button class="pathway_title js-swap" data-swap-target=".pathway_js-pathways-1_5" data-swap-options='{"collapse":false}' data-swap-group="pathways-group-1">MD + MSc</button>
																	<span class="pathway_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																									<a href="#" class="pathway_link">Read More</a>
															</div>
											</div>
				</div>
				<div class="pathways_visuals_wrapper">
											<figure class="pathways_figure pathway_js-pathways-1_1">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/1 1080w, https://images.fastspot.com/generic/915x1220/1 915w, https://images.fastspot.com/generic/735x980/1 735w, https://images.fastspot.com/generic/555x740/1 555w, https://images.fastspot.com/generic/375x500/1 375w, https://images.fastspot.com/generic/225x300/1 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/1" alt="" loading="lazy" width="225" height="300">
						</figure>
											<figure class="pathways_figure pathway_js-pathways-1_2">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/2 1080w, https://images.fastspot.com/generic/915x1220/2 915w, https://images.fastspot.com/generic/735x980/2 735w, https://images.fastspot.com/generic/555x740/2 555w, https://images.fastspot.com/generic/375x500/2 375w, https://images.fastspot.com/generic/225x300/2 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/2" alt="" loading="lazy" width="225" height="300">
						</figure>
											<figure class="pathways_figure pathway_js-pathways-1_3">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/3 1080w, https://images.fastspot.com/generic/915x1220/3 915w, https://images.fastspot.com/generic/735x980/3 735w, https://images.fastspot.com/generic/555x740/3 555w, https://images.fastspot.com/generic/375x500/3 375w, https://images.fastspot.com/generic/225x300/3 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/3" alt="" loading="lazy" width="225" height="300">
						</figure>
											<figure class="pathways_figure pathway_js-pathways-1_4">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/4 1080w, https://images.fastspot.com/generic/915x1220/4 915w, https://images.fastspot.com/generic/735x980/4 735w, https://images.fastspot.com/generic/555x740/4 555w, https://images.fastspot.com/generic/375x500/4 375w, https://images.fastspot.com/generic/225x300/4 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/4" alt="" loading="lazy" width="225" height="300">
						</figure>
											<figure class="pathways_figure pathway_js-pathways-1_5">
							
<img class="pathways_image" srcset="https://images.fastspot.com/generic/1080x1440/5 1080w, https://images.fastspot.com/generic/915x1220/5 915w, https://images.fastspot.com/generic/735x980/5 735w, https://images.fastspot.com/generic/555x740/5 555w, https://images.fastspot.com/generic/375x500/5 375w, https://images.fastspot.com/generic/225x300/5 225w" sizes="(min-width: 740px) 50vw, 0"  src="https://images.fastspot.com/generic/225x300/5" alt="" loading="lazy" width="225" height="300">
						</figure>
									</div>
			</div>
		</div>
	</div>
</div>
