



<!-- Topic Row -->
<div class="topics_columns">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="topics_columns_inner">
				<div class="topics_columns_header">
					<h2 class="topics_columns_title">
						<span class="topics_columns_title_label">The SGU Difference</span>
					</h2>
				</div>
				<div class="topics_columns_body">
											<div class="topic_columns">
							<div class="topic_columns_inner">
																	<figure class="topic_columns_figure" aria-hidden="true">
										
<img class="topic_columns_image" srcset="https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_columns_wrapper">
									<div class="topic_columns_header">
																					<h3 class="topic_columns_title">Practitioner Focused</h3>
																			</div>
									<div class="topic_columns_body">
										<div class="topic_columns_description">
											<p>The #1 provider into first-year US residencies for the last 12 years combined.</p>
										</div>
									</div>
																			<div class="topic_columns_links">
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Our Faculty</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Student Support Services</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Small Cohorts & Groups</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic_columns">
							<div class="topic_columns_inner">
																	<figure class="topic_columns_figure" aria-hidden="true">
										
<img class="topic_columns_image" srcset="https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_columns_wrapper">
									<div class="topic_columns_header">
																					<h3 class="topic_columns_title">Excellent Academic Outcomes</h3>
																			</div>
									<div class="topic_columns_body">
										<div class="topic_columns_description">
											<p>The #1 provider into first-year US residencies for the last 12 years combined.</p>
										</div>
									</div>
																			<div class="topic_columns_links">
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Explore Outcomes</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic_columns">
							<div class="topic_columns_inner">
																	<figure class="topic_columns_figure" aria-hidden="true">
										
<img class="topic_columns_image" srcset="https://images.fastspot.com/generic/740x494/3 740w, https://images.fastspot.com/generic/500x334/3 500w, https://images.fastspot.com/generic/300x200/3 300w" src="https://images.fastspot.com/generic/300x200/3" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_columns_wrapper">
									<div class="topic_columns_header">
																					<h3 class="topic_columns_title">Outstanding Return on Investment</h3>
																			</div>
									<div class="topic_columns_body">
										<div class="topic_columns_description">
											<p>#% of alumni pay off their student loans within x years.</p>
										</div>
									</div>
																			<div class="topic_columns_links">
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Explore Outcomes</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic_columns">
							<div class="topic_columns_inner">
																	<figure class="topic_columns_figure" aria-hidden="true">
										
<img class="topic_columns_image" srcset="https://images.fastspot.com/generic/740x494/4 740w, https://images.fastspot.com/generic/500x334/4 500w, https://images.fastspot.com/generic/300x200/4 300w" src="https://images.fastspot.com/generic/300x200/4" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_columns_wrapper">
									<div class="topic_columns_header">
																					<h3 class="topic_columns_title">Incredible Alumni Network</h3>
																			</div>
									<div class="topic_columns_body">
										<div class="topic_columns_description">
											<p>The #1 provider into first-year US residencies for the last 12 years combined.</p>
										</div>
									</div>
																			<div class="topic_columns_links">
																							<div class="topic_columns_link_item">
													
<a href="#" class="topic_columns_link" >
	<span class="topic_columns_link_inner">
					<span class="topic_columns_link_label">Explore Outcomes</span><span class="icon_nowrap topic_columns_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Topic Row -->
