

<div class="facts_stats_columns">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="facts_stats_columns_inner">
				<div class="facts_stats_columns_header">
					<div class="facts_stats_columns_header_inner">
						<h2 class="facts_stats_columns_title">We are the premier choice in Caribbean Medical Schools and have evolved into a top center of international medical education.</h2>
												<figure class="facts_stats_columns_figure">
							
<img class="facts_stats_columns_image" srcset="https://images.fastspot.com/generic/980x552/2 980w, https://images.fastspot.com/generic/740x416/2 740w, https://images.fastspot.com/generic/500x282/2 500w, https://images.fastspot.com/generic/300x169/2 300w" src="https://images.fastspot.com/generic/300x169/2" alt="" loading="lazy" width="300" height="169">
						</figure>
											</div>
				</div>
				<div class="facts_stats_columns_list">
											<div class="facts_stats_columns_item">
							<h3 class="facts_stats_columns_item_stat"><span>93%</span> US residency placement rate for graduates over the last three years</h3>
														<span class="facts_stats_columns_item_desription">Average of 2020, 2021, 2022 residency placement rate. Residency placement rate is defined as the total number of students who obtained a US residency divided by the total number of students who applied to a US residency program in a given year as of May 2022.</span>
													</div>
											<div class="facts_stats_columns_item">
							<h3 class="facts_stats_columns_item_stat no_desc"><span>19,000+</span> School of Medicine graduates who have entered the global healthcare system.</h3>
													</div>
											<div class="facts_stats_columns_item">
							<h3 class="facts_stats_columns_item_stat"><span>92%</span> USMLE Step 1 pass rate for first-time test-takers over the last three years</h3>
														<span class="facts_stats_columns_item_desription">Average of 2019, 2020, 2021 scores First-time pass rate is defined as the number of students passing USMLE Step 1 on their first attempt divided by the total number of students taking USMLE Step 1 for the first time. In order to be certified to take USMLE Step 1, students are required to pass all basic sciences courses.</span>
													</div>
											<div class="facts_stats_columns_item">
							<h3 class="facts_stats_columns_item_stat"><span>92%</span> USMLE Step 2CK pass rate for first-time test-takers over the last three years</h3>
														<span class="facts_stats_columns_item_desription">Average of 2019, 2020, 2021 academic year scores. First-time pass rate is defined as the number of students passing USMLE Step 2CK on their first attempt divided by the total number of students taking USMLE Step 2CK for the first time. USMLE Step 2CK is typically taken upon completion of third-year core clinical rotations.</span>
													</div>
									</div>
			</div>
		</div>
	</div>
</div>
