



<!-- Process Based List -->
<div class="process">
	<ul class="process_block" aria-label="">
					<li class="process_row">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="process_row_inner">
							<div class="process_row_intro">
																	<h2 class="process_title">Program Overview</h2>
																<h3 class="process_row_title">Years 1 & 2 Basic Sciences</h3>
																	<p class="process_row_description">There are a range of entry points into our Doctor of Medicine program, acommodating applicants of all educational systems and academic backgrounds.</p>
																									<div class="process_row_link_item">
										<a class="process_row_link" href="#">Download Outline</a>
									</div>
															</div>
							<div class="process_row_main">
																	<div class="process_group">
																					<h4 class="process_group_title">Academic year 1 & 2 - 86 weeks</h4>
																				<ul class="process_items" aria-label="Academic year 1 & 2 - 86 weeks">
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">year <strong>1</strong></p>
																												<p class="process_item_title">Undergraduate Sciences I</p>
																											</div>
																											<div class="process_item_description">
															<p>There are a range of entry points into our Doctor of Medicine program, acommodating applicants of all educational systems and academic backgrounds.</p>
														</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">year <strong>1</strong></p>
																												<p class="process_item_title">Undergraduate Sciences I</p>
																											</div>
																											<div class="process_item_description">
															<p>There are a range of entry points into our Doctor of Medicine program, acommodating applicants of all educational systems and academic backgrounds.</p><p>There are a range of entry points into our <a href="#">Doctor of Medicine</a> program.</p><p>There are a range of entry points into our Doctor of Medicine program, acommodating applicants of all educational systems and academic backgrounds.</p>
														</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">year <strong>2</strong></p>
																												<p class="process_item_title">Undergraduate Sciences II</p>
																											</div>
																											<div class="process_item_description">
															<img src="https://images.fastspot.com/framework/20x15/1" alt=""> Grenada<br><img src="https://images.fastspot.com/framework/20x15/1" alt=""> UK<br> <img src="https://images.fastspot.com/framework/20x15/1" alt=""> India
														</div>
																									</li>
																							<li class="process_item">
													<div class="process_item_block">
																													<p class="process_item_label">year <strong>3</strong></p>
																												<p class="process_item_title">Undergraduate Sciences III</p>
																											</div>
																									</li>
																					</ul>
									</div>
															</div>
						</div>
					</div>
				</div>
			</li>
			</ul>
</div>
<!-- END: Process Based List -->
