



<!-- Related Faculty -->
<div class="related_faculty">
			<div class="related_faculty_header">
			<div class="fs-row">
				<div class="fs-cell fs-lg-8 fs-all-justify-center">
					<div class="related_faculty_header_inner">
						<h2 class="related_faculty_title">Contact Us</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="related_faculty_body">
		<div class="fs-row">
			<div class="fs-cell">
				<ul class="related_faculty_rows" id="item_list" aria-label="Contact Us">
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
																							<a class="people_list_item_name_link" href="page-people-detail.html">
													<span class="people_list_item_name_link_label">Jane Smith</span>
													<span class="people_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="people_list_item_title">Director of Department</div>
																			</div>
																			<figure class="people_list_item_figure small">
											
<img class="people_list_item_image" srcset="https://images.fastspot.com/generic/300x300/1 300w, https://images.fastspot.com/generic/100x100/1 100w" src="https://images.fastspot.com/generic/100x100/1" alt="" loading="lazy" width="100" height="100">
										</figure>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:name@university.edu">
																<span class="people_list_item_detail_info_label">name@university.edu</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">School & Department</div>
																									<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="#">
																<span class="people_list_item_detail_info_label">School of Medicine</span>
															</a>
														</div>
													</div>
																									<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="#">
																<span class="people_list_item_detail_info_label">Anatomy, Physiology, and Pharmacology</span>
															</a>
														</div>
													</div>
																							</div>
																			</div>
								</div>
																	<figure class="people_list_item_figure large">
										
<img class="people_list_item_image" srcset="https://images.fastspot.com/generic/300x300/1 300w, https://images.fastspot.com/generic/100x100/1 100w" src="https://images.fastspot.com/generic/100x100/1" alt="" loading="lazy" width="100" height="100">
									</figure>
															</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
																							<a class="people_list_item_name_link" href="page-people-detail.html">
													<span class="people_list_item_name_link_label">Cum sociis natoque</span>
													<span class="people_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="people_list_item_title">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</div>
																			</div>
																			<figure class="people_list_item_figure small">
											
<img class="people_list_item_image" srcset="https://images.fastspot.com/generic/300x300/2 300w, https://images.fastspot.com/generic/100x100/2 100w" src="https://images.fastspot.com/generic/100x100/2" alt="" loading="lazy" width="100" height="100">
										</figure>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:quisque-rutrum@university.edu">
																<span class="people_list_item_detail_info_label">quisque-rutrum@university.edu</span>
															</a>
														</div>
													</div>
																																			</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">School & Department</div>
																									<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="#">
																<span class="people_list_item_detail_info_label">Aenean commodo ligula eget dolor</span>
															</a>
														</div>
													</div>
																							</div>
																			</div>
								</div>
																	<figure class="people_list_item_figure large">
										
<img class="people_list_item_image" srcset="https://images.fastspot.com/generic/300x300/2 300w, https://images.fastspot.com/generic/100x100/2 100w" src="https://images.fastspot.com/generic/100x100/2" alt="" loading="lazy" width="100" height="100">
									</figure>
															</div>
						</li>
											<li class="people_list_row">
							<div class="people_list_item">
								<div class="people_list_item_header">
									<div class="people_list_item_info">
										<h2 class="people_list_item_name">
																							<a class="people_list_item_name_link" href="page-people-detail.html">
													<span class="people_list_item_name_link_label">Aenean massa</span>
													<span class="people_list_item_name_link_icon">
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
												</a>
																					</h2>
																					<div class="people_list_item_title">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
																			</div>
																			<figure class="people_list_item_figure small">
											
<img class="people_list_item_image" srcset="https://images.fastspot.com/generic/300x300/3 300w, https://images.fastspot.com/generic/100x100/3 100w" src="https://images.fastspot.com/generic/100x100/3" alt="" loading="lazy" width="100" height="100">
										</figure>
																	</div>
								<div class="people_list_item_body">
									<div class="people_list_item_details">
																					<div class="people_list_item_detail contact">
																									<div class="people_list_item_detail_label">Contact</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_mail">
				<use href="/images/icons.svg#mail" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Email: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="mailto:name@university.edu">
																<span class="people_list_item_detail_info_label">name@university.edu</span>
															</a>
														</div>
													</div>
																																					<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_item_header">
															<div class="people_list_item_detail_icon">
			<svg class="icon icon_phone">
				<use href="/images/icons.svg#phone" />
			</svg>
		</div>
															<div class="people_list_item_detail_hint">Phone: </div>
														</div>
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="tel:4105551234">
																<span class="people_list_item_detail_info_label">(410) 555-1234</span>
															</a>
														</div>
													</div>
																							</div>
																															<div class="people_list_item_detail department">
												<div class="people_list_item_detail_label">School & Department</div>
																									<div class="people_list_item_detail_item">
														<div class="people_list_item_detail_info">
															<a class="people_list_item_detail_info_link" href="#">
																<span class="people_list_item_detail_info_label">Mmagnis</span>
															</a>
														</div>
													</div>
																							</div>
																			</div>
								</div>
																	<figure class="people_list_item_figure large">
										
<img class="people_list_item_image" srcset="https://images.fastspot.com/generic/300x300/3 300w, https://images.fastspot.com/generic/100x100/3 100w" src="https://images.fastspot.com/generic/100x100/3" alt="" loading="lazy" width="100" height="100">
									</figure>
															</div>
						</li>
									</ul>
			</div>
		</div>
	</div>
</div>
<!-- END: Related Faculty -->
