


<div class="expandable_topics">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="expandable_topics_inner">
				<div class="expandable_topics_visuals_wrapper">
										<figure class="expandable_topics_figure expandable_topic_js-expandable-topic-1_1">
						
<img class="expandable_topics_image" srcset="https://images.fastspot.com/generic/1220x814/1 1220w, https://images.fastspot.com/generic/980x654/1 980w, https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
					</figure>
										<figure class="expandable_topics_figure expandable_topic_js-expandable-topic-1_2">
						
<img class="expandable_topics_image" srcset="https://images.fastspot.com/generic/1220x814/2 1220w, https://images.fastspot.com/generic/980x654/2 980w, https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
					</figure>
										<figure class="expandable_topics_figure expandable_topic_js-expandable-topic-1_3">
						
<img class="expandable_topics_image" srcset="https://images.fastspot.com/generic/1220x814/3 1220w, https://images.fastspot.com/generic/980x654/3 980w, https://images.fastspot.com/generic/740x494/3 740w, https://images.fastspot.com/generic/500x334/3 500w, https://images.fastspot.com/generic/300x200/3 300w" src="https://images.fastspot.com/generic/300x200/3" alt="" loading="lazy" width="300" height="200">
					</figure>
										<figure class="expandable_topics_figure expandable_topic_js-expandable-topic-1_4">
						
<img class="expandable_topics_image" srcset="https://images.fastspot.com/generic/1220x814/4 1220w, https://images.fastspot.com/generic/980x654/4 980w, https://images.fastspot.com/generic/740x494/4 740w, https://images.fastspot.com/generic/500x334/4 500w, https://images.fastspot.com/generic/300x200/4 300w" src="https://images.fastspot.com/generic/300x200/4" alt="" loading="lazy" width="300" height="200">
					</figure>
									</div>
				<div class="expandable_topics_accordion_wrapper">
										<div class="expandable_topic expandable_topic_js-expandable-topic-1_1 js-expandable-topic">
						<figure class="expandable_topic_figure">
							
<img class="expandable_topic_image" srcset="https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
						</figure>
						<button class="expandable_topic_title js-swap" type="button" data-swap-target=".expandable_topic_js-expandable-topic-1_1" data-swap-options='{"collapse":false}' data-swap-group="expandable-topic-group-1">Admissions & Applying</button>
												<span class="expandable_topic_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																		<a href="#" class="expandable_topic_link">Admissions Info</a>
											</div>
										<div class="expandable_topic expandable_topic_js-expandable-topic-1_2 js-expandable-topic">
						<figure class="expandable_topic_figure">
							
<img class="expandable_topic_image" srcset="https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
						</figure>
						<button class="expandable_topic_title js-swap" type="button" data-swap-target=".expandable_topic_js-expandable-topic-1_2" data-swap-options='{"collapse":false}' data-swap-group="expandable-topic-group-1">Tuition & Scholarships</button>
												<span class="expandable_topic_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																		<a href="#" class="expandable_topic_link">Read More</a>
											</div>
										<div class="expandable_topic expandable_topic_js-expandable-topic-1_3 js-expandable-topic">
						<figure class="expandable_topic_figure">
							
<img class="expandable_topic_image" srcset="https://images.fastspot.com/generic/740x494/3 740w, https://images.fastspot.com/generic/500x334/3 500w, https://images.fastspot.com/generic/300x200/3 300w" src="https://images.fastspot.com/generic/300x200/3" alt="" loading="lazy" width="300" height="200">
						</figure>
						<button class="expandable_topic_title js-swap" type="button" data-swap-target=".expandable_topic_js-expandable-topic-1_3" data-swap-options='{"collapse":false}' data-swap-group="expandable-topic-group-1">Student Support</button>
												<span class="expandable_topic_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																		<a href="#" class="expandable_topic_link">Read More</a>
											</div>
										<div class="expandable_topic expandable_topic_js-expandable-topic-1_4 js-expandable-topic">
						<figure class="expandable_topic_figure">
							
<img class="expandable_topic_image" srcset="https://images.fastspot.com/generic/740x494/4 740w, https://images.fastspot.com/generic/500x334/4 500w, https://images.fastspot.com/generic/300x200/4 300w" src="https://images.fastspot.com/generic/300x200/4" alt="" loading="lazy" width="300" height="200">
						</figure>
						<button class="expandable_topic_title js-swap" type="button" data-swap-target=".expandable_topic_js-expandable-topic-1_4" data-swap-options='{"collapse":false}' data-swap-group="expandable-topic-group-1">Curriculum</button>
												<span class="expandable_topic_description">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</span>
																		<a href="#" class="expandable_topic_link">Read More</a>
											</div>
									</div>
			</div>
		</div>
	</div>
</div>
