

<article class="news_entry">
	<script type="application/ld+json">
		{
			'@context': 'http://schema.org',
			'@type': 'NewsArticle',
			'url': '#',
			'publisher': {
				'@type': 'CollegeOrUniversity',
				'name': 'St. George's University'
			},
			'headline': '4 Perks of Becoming a Family Physician',
			'mainEntityOfPage': '#',
			'image': '',
			'datePublished': '2017-03-20T20:30:54+00:00',
			'author': 'person',
			'description': 'Aspiring physicians don’t have to declare a specialty when they start medical school.'
		}
	</script>

	<!-- Page Content -->
	<div class="page_content" id="page_content" tabindex="-1" aria-labelledby="page_title">
		<div class="fs-row fs-lg-reverse fs-lg-justify-end">
			<div class="fs-cell fs-lg-10 fs-xl-8">
				<!-- WYSIWYG -->
				<div class="typography">
					<p>In fact, the training and experience involved in a Doctor of Medicine (MD) program are meant to help you explore your options before determining what type of doctor you'll become.</p>
					<p>Many medical students determine they have a wide range of skills and interests that would make them well-suited for more than one medical specialty. If you end up in that situation, you may be a good fit for becoming a family physician.</p>
					<p>These are considered the “jacks of all trades” of clinical care, as they're given a taste of nearly every type of medicine. That's just one of many benefits of becoming a family physician.</p>
					<figure class="block_right">
						<img src="https://images.fastspot.com/framework/1220x523/1" alt="">
					</figure>
					<h2>4 advantages of working in family medicine</h2>
					<p>Primary care is historically the most common specialty pursued by graduating medical students. The Association of American Medical Colleges (AAMC) notes that within primary care, family medicine is second only to internal medicine.</p>
					<p>Why choose family medicine after medical school? This field provides physicians with a range of career-defining opportunities and benefits. Consider the four notable perks listed below:</p>
					<h2>1. The expansive scope of work</h2>
					<p>Family physicians will typically serve as a patient's first point of contact. Because of this, family medicine encompasses aspects of all the specialties and is often the doorway through which patients are able to get the specialized care they need.
					<p>By becoming a family physician, it would be your job to help translate a patients' list of symptoms into a diagnosis. In these scenarios, it's critical for a physician to ask the right questions and seek out clues that will help uncover some answers so they can devise the best treatment plan. For this reason, family physicians find the job to be incredibly intellectually stimulating.</p>
					<p>This role is also comprised of more than just medical science—there's an art to good bedside manner when working in clinical care. It takes a certain skill set to be able to instill hope, provide comfort, educate, and give counsel to a patient all in a single interaction.</p>
					<p>Because family physicians incorporate expertise from all the various specialties into their daily clinical repertoire, there are many opportunities for doctors to find a niche that fits their own needs and style of practice. That may translate into a particular subspecialty within family medicine like maternity care, public health, or sports medicine.</p>
					<p>But it could also mean finding your place within a range of different types of practice—from direct primary care or private practice to multispecialty group practice or employed status at a hospital or community health center. It's clear that the options for family physicians are numerous.</p>
					<figure class="block_left">
						<img src="https://images.fastspot.com/framework/1220x523/1" alt="">
					</figure>
					<h2>2. The job security</h2>
					<p>The most recent update from the AAMC has reported that the US is expected to face a shortage of primary care physicians ranging from 21,400 to 55,200 by 2033, and family practice positions have consistently been among the most sought-after by healthcare organizations.</p>
					<p>Because of this widespread need for family physicians, those who pursue this field will likely have the option to work in an urban or rural setting and select their practice environment and scope of practice. Family physicians can even pursue varying medical career paths in public health, teaching, or research.</p>
					<p>It's also worth noting that there are some loan repayment programs available for family practice physicians. State and federal programs will frequently offer attractive repayment benefits for primary care doctors who are willing to work in medically underserved areas.</p>
					<h2>3. The overall job satisfaction</h2>
					<p>The unbeatable flexibility that comes with working in family medicine lends itself to a healthy sense of work-life balance that doctors may not find in other specialties. These practitioners tend to have more control over where and when they work, and they generally experience positive rates of workplace satisfaction as a result.</p>
					<p>One survey from the American Academy of Family Physicians (AAFP) found that certain aspects of family practice—such as the broad scope of practice—are associated with lower levels of physician burnout. In fact, 75 percent of surveyed family practitioners reported being satisfied or very satisfied with their careers, with 79 percent maintaining that they have a positive sense of well-being.</p>
					<p>The diverse skill set of doctors in this generalist role provides a sense of variety that can help prevent boredom and burnout. You may also experience a strong sense of satisfaction when, as a family physician, you have the ability to provide care for every single patient who comes to see you—even if that comes in the form of a referral to a specialist.</p>
					<h2>4. The longstanding patient relationships</h2>
					<p>Interestingly, another study found that a lack of time spent with patients can actually be a contributing factor to overall rates of physician unhappiness. Perhaps this is, in part, why family physicians experience such high levels of job satisfaction.</p>
					<p>Becoming a family physician allows doctors to really get to know their patients. In many cases, they become like an extended family member or trusted friend. By caring for their patients physically, mentally, and even emotionally over the course of several years, close relationships are formed that doctors in other specialties don't always get to experience.</p>
					<p>And the impact of high-quality family physicians is far-reaching. The AAFP highlights that family practice goes beyond primary care for the individual. It's about relationships and caring for entire families across multiple generations.</p>
					<p>These essential practitioners serve as a patient's first point of contact, care for their patients in the context of their families, and even understand the effects of community-level factors and social determinants of health. Their holistic approach to medicine is unmatched.</p>
				</div>
				<!-- END: WYSIWYG -->
			</div>
			<div class="fs-cell fs-lg-2">
				
<div class="share_tools_detail">
	<div class="share_tools_detail_header">
		<h2 class="share_tools_detail_title">Share This</h2>
	</div>
	<ul class="share_tools_detail_list" aria-label="Share Options">
								<li class="share_tool_detail_item">
				<a class="share_tool_detail" href="#" target="_blank" rel="noopener">
					<span class="share_tool_detail_icon">
			<svg class="icon icon_facebook_alt">
				<use href="/images/icons.svg#facebook_alt" />
			</svg>
		</span>
					<span class="share_tool_detail_label">Share to Facebook</span>
				</a>
			</li>
								<li class="share_tool_detail_item">
				<a class="share_tool_detail" href="#" target="_blank" rel="noopener">
					<span class="share_tool_detail_icon">
			<svg class="icon icon_twitter">
				<use href="/images/icons.svg#twitter" />
			</svg>
		</span>
					<span class="share_tool_detail_label">Share to Twitter</span>
				</a>
			</li>
			</ul>
</div>			</div>
		</div>
	</div>
	<!-- END: Page Content -->

	<div class="full_width_callouts">

	</div>
</article>
