

<div class="page_content" id="page_content" tabindex="-1" aria-labelledby="page_title">
	<div class="fs-row">
		<div class="fs-cell">
			<!-- WYSIWYG -->
			<div class="typography">
				<h2>True Blue Campus</h2>
				<p>Students begin their <a href='#'>academic studies</a> at the stunning True Blue campus, which rises atop a peninsula in the southwest corner of Grenada and beautifully combines Georgian architecture with vivid Caribbean colors. Over 65 buildings spread across the vibrant seaside location. The campus is always expanding to keep up with the latest technologies and to provide students with the best learning environment.</p>
			</div>
			<!-- END: WYSIWYG -->
		</div>
	</div>
</div>

<div class="full_width_callouts">
	

<!-- WYSIWYG -->
<div class="wysiwyg_block">
	<div class="fs-row">
		<div class="fs-cell fs-lg-10 fs-xl-8 fs-lg-push-2">
			<div class="wysiwyg_block_inner typography">
				
			<h2>Daily Life</h2>
			<h3>Groceries</h3>
			<p>Although hours vary, most supermarkets open at or before 8:00 am and close as late as 9 pm, Monday through Saturday, with reduced operating hours on Sundays. Real Value Supermarket, located in the Grand Anse Spiceland Mall, has a good selection of foreign products as well as a deli and is open until 10:00 pm Friday and Saturday and 7:00 pm on Sunday. In the market square in St. George’s you will find primarily fresh fruits, vegetables and spices. The best selection is found early Friday and Saturday mornings. There is also an open-air seafood market in St. George’s which is open Monday through Saturday.</p>
			<h3>Electricity</h3>
			<p>The electrical supply on the island is of the type used in England, namely 220 volt, 50 Hertz. As most appliances sold in the United States are manufactured for operation on standard US current, 110 volt, 60 Hertz. On the True Blue Campus, all buildings have outlets providing for 110 and 220 usage.</p>
			<h3>Water</h3>
			<p>The National Water and Sewerage Authority (NAWASA) provides the island with clean, safe pipe borne water from a series of catchments, river and deep wells. Bottled water is also readily available.</p>
			<h3>Telecommunications</h3>
			<p>Grenada boasts of a modern-state-of-the-art telecommunication sector with FLOW providing cable and telecommunication services, LIME controlling the fixed-line telecom market and the mobile telecom market being serviced by both LIME and Digicel.</p>
			<h3>Security</h3>
			<p>Grenada enjoys one of the lowest crime rates in the western hemisphere. The Royal Grenada Police Force is responsible for civilian protection and defense. Grenada is also a member of the Regional Security System of the Eastern Caribbean.</p>
		
			</div>
		</div>
	</div>
</div>
<!-- END: WYSIWYG -->
	

<!-- Topic Row -->
<div class="topics">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="topics_inner">
									<div class="topics_header">
													<h2 class="topics_title">
								<span class="topics_title_label">Topic Group</span>
							</h2>
																			<div class="topics_description">
								<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
							</div>
											</div>
								<div class="topics_body">
											<div class="topic">
							<div class="topic_inner">
																	<figure class="topic_figure" aria-hidden="true">
										
<img class="topic_image" srcset="https://images.fastspot.com/generic/740x494/1 740w, https://images.fastspot.com/generic/500x334/1 500w, https://images.fastspot.com/generic/300x200/1 300w" src="https://images.fastspot.com/generic/300x200/1" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_wrapper">
									<div class="topic_header">
																					<h3 class="topic_title">Explore MD Programs</h3>
																			</div>
									<div class="topic_body">
										<div class="topic_description">
											<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla.</p>
										</div>
									</div>
																			<div class="topic_links">
																							<div class="topic_link_item">
													
<a href="#" class="topic_link" >
	<span class="topic_link_inner">
					<span class="topic_link_label">Learn More</span><span class="icon_nowrap topic_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																							<div class="topic_link_item">
													
<a href="#" class="topic_link" >
	<span class="topic_link_inner">
					<span class="topic_link_label">Take a Tour</span><span class="icon_nowrap topic_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic">
							<div class="topic_inner">
																	<figure class="topic_figure" aria-hidden="true">
										
<img class="topic_image" srcset="https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_wrapper">
									<div class="topic_header">
																					<h3 class="topic_title">Life on Campus</h3>
																			</div>
									<div class="topic_body">
										<div class="topic_description">
											<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla.</p>
										</div>
									</div>
																			<div class="topic_links">
																							<div class="topic_link_item">
													
<a href="#" class="topic_link" >
	<span class="topic_link_inner">
					<span class="topic_link_label">Explore Campus Life</span><span class="icon_nowrap topic_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic">
							<div class="topic_inner">
																<div class="topic_wrapper">
									<div class="topic_header">
																					<h3 class="topic_title">About SGU</h3>
																			</div>
									<div class="topic_body">
										<div class="topic_description">
											<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla.</p>
										</div>
									</div>
																			<div class="topic_links">
																							<div class="topic_link_item">
													
<a href="#" class="topic_link" >
	<span class="topic_link_inner">
					<span class="topic_link_label">Learn More</span><span class="icon_nowrap topic_link_icon" aria-hidden="true">&#xfeff;
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		</span>
			</span>
</a>												</div>
																					</div>
																	</div>
							</div>
						</div>
											<div class="topic">
							<div class="topic_inner">
																	<figure class="topic_figure" aria-hidden="true">
										
<img class="topic_image" srcset="https://images.fastspot.com/generic/740x494/2 740w, https://images.fastspot.com/generic/500x334/2 500w, https://images.fastspot.com/generic/300x200/2 300w" src="https://images.fastspot.com/generic/300x200/2" alt="" loading="lazy" width="300" height="200">
									</figure>
																<div class="topic_wrapper">
									<div class="topic_header">
																					<h3 class="topic_title">Ipsum</h3>
																			</div>
									<div class="topic_body">
										<div class="topic_description">
											<p>Praesent</p>
										</div>
									</div>
																	</div>
							</div>
						</div>
									</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Topic Row -->
	

<!-- Call to Action -->
<div class="cta">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="cta_inner">
				<div class="cta_description">
					<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auct.</p>
				</div>
				<div class="cta_action">
					
<a href="#" class="cta_link"  aria-label="Link Aria" >
	<span class="cta_link_inner">
					<span class="cta_link_label">Link Label</span>
							<span class="cta_link_icon" aria-hidden="true">
					
			<svg class="icon icon_caret_right">
				<use href="/images/icons.svg#caret_right" />
			</svg>
		
				</span>
						</span>
</a>				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Call to Action --></div>
