{% extends "_base.twig" %}

{% block content %}
	{% include "partials/page-header.twig" %}

	<div class="full_width_callouts" id="page_content" tabindex="-1" aria-labelledby="page_title">
		{% include "components/wysiwyg.twig" with {
			content: content
		} %}

		{% include "partials/google-cse.twig" %}
	</div>
{% endblock %}