{% extends "_base.twig" %}

{% block content %}
	{% include "partials/page-header.twig" with page_header|default({}) %}

	{% if post.content %}
		<div class="page_content" id="page_content" tabindex="-1" aria-labelledby="page_title">
			<div class="blocks_wrapper">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="blocks">
							{{ post.content }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}