<div class="department_meta" id="meta" data-type="entity" data-category="{{ item.fw_data_categories|e('html_attr') }}">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="department_meta_inner">
				{% include 'partials/contact-details.twig' with {
					item: item
				} %}
			</div>
		</div>
	</div>
</div>