<!-- Page Content -->
<div class="page_content">
	<!-- Full Width Callouts -->
	<div class="full_width_callouts">

		{% render '@component-highlights' %}

		{% render '@component-experience' %}

	</div>
	<!-- END: Full Width Callouts -->
</div>