/* ==========================================================================
	News Blog Feature
============================================================================= */

.news_blog_feature {
	@include margined_md;
}

.news_blog_feature_inner {
	@include padded_md_top;

	border-top: 5px solid $turquoise_light;
}

.news_blog_feature_header {
	display: flex;

	flex-direction: column;
	gap: 20px;

	@media #{$min_lg} {
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row;
		gap: 40px;
	}
}

.news_blog_feature_title {
	@include h2;

	color: $blue_navy;
	margin: 0;
}

.news_blog_feature_header_links {
	display: flex;

	align-items: center;
	gap: 15px;

	@media #{$min_lg} {
		margin-top: 8px;
	}
}

.news_blog_feature_header_link {
	@include sgu_button($turquoise_light, $blue_navy);

	@media #{$min_lg} {
		flex: auto;
	}
}

.news_blog_feature_feature {
	position: relative;

	margin-block: 32px;

	@include hover {

		.news_blog_feature_feature_image {
			transform: scale(1.05);
		}
	}

	@media #{$min_sm} {
		margin-block: 45px;
	}

	@media #{$min_lg} {
		display: flex;

		align-items: center;
		gap: 40px;
		margin-block: 60px;
	}

	@media #{$min_xl} {
		gap: 60px;
		margin-block: 50px 70px;
	}
}

.news_blog_feature_feature_figure {
	@include responsive_image;

	position: relative;

	border-radius: 5px;
	overflow: hidden;

	@media #{$min_lg} {
		width: calc(50% - 20px);
	}

	@media #{$min_xl} {
		width: calc(50% - 30px);
	}
}

.news_blog_feature_feature_image {
	border-radius: 5px;
	transition: transform 1s;
}

.news_blog_feature_feature_icon {
	width: 50px;
	height: 50px;
	display: flex;

	position: absolute;
	left: 10px;
	bottom: 10px;

	align-items: center;
	background: $orange;
	border-radius: 4px;
	color: $white;
	justify-content: center;

	.icon {
		fill: currentColor;
	}
}

.news_blog_feature_feature_wrapper {
	display: flex;

	flex-direction: column;
	margin-block: 23px 0;

	@media #{$min_lg} {
		width: calc(50% - 20px);
		margin-block: 0;
	}

	@media #{$min_xl} {
		width: calc(50% - 30px);
	}
}

.news_blog_feature_feature_title {
	@include h3;

	margin: 0;
	order: 1;
}

.news_blog_feature_feature_title_link {
	color: currentColor;

	&:before {
		width: 100%;
		height: 100%;
		display: block;

		position: absolute;
		left: 0;
		top: 0;

		content: '';
	}
}

.news_blog_feature_feature_category {
	@include h6;

	color: $blue_navy;
	order: 0;
	margin-bottom: 4px;

	@include hover {
		text-decoration: underline;
	}
}

.news_blog_feature_feature_description {
	@include body_text;

	order: 2;
	margin-top: 15px;
}

.news_blog_feature_list {

	@media #{$min_md} {
		display: flex;

		align-items: flex-start;
		gap: 0 30px;
		flex-wrap: wrap;
	}

	@media #{$min_lg} {
		gap: 0 40px;
	}

	@media #{$min_xl} {
		gap: 0 60px;
	}
}

.news_blog_feature_list_item {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	@include hover {

		.news_blog_feature_list_item_image {
			transform: scale(1.05);
		}
	}

	@media #{$min_md} {
		width: calc(50% - 15px);
	}

	@media #{$min_lg} {
		width: calc(33% - 27px);
	}

	@media #{$min_xl} {
		width: calc(33.33% - 40px);
	}
}

.news_blog_feature_list_item_figure {
	@include responsive_image;

	position: relative;

	border-radius: 5px;
	overflow: hidden;
}

.news_blog_feature_list_item_image {
	border-radius: 5px;
	transition: transform 1s;
}

.news_blog_feature_list_item_icon {
	width: 50px;
	height: 50px;
	display: flex;

	position: absolute;
	left: 10px;
	bottom: 10px;

	align-items: center;
	background: $orange;
	border-radius: 4px;
	color: $white;
	justify-content: center;

	.icon {
		fill: currentColor;
	}
}

.news_blog_feature_list_item_wrapper {
	display: flex;

	flex-direction: column;
	margin-block: 23px 0;
}

.news_blog_feature_list_item_title {
	@include h5;

	margin: 0;
	order: 1;
}

.news_blog_feature_list_item_title_link {
	color: currentColor;

	&:before {
		width: 100%;
		height: 100%;
		display: block;

		position: absolute;
		left: 0;
		top: 0;

		content: '';
	}

	@include hover {
		text-decoration: underline;
	}
}

.news_blog_feature_list_item_category {
	@include h6;

	color: $blue_navy;
	margin-bottom: 4px;
	order: 0;

	@include hover {
		text-decoration: underline;
	}
}

.news_blog_feature_list_item_description {
	order: 2;
}