/* ==========================================================================
	Topic Row Expandable
============================================================================= */

.expandable_topics {
	@include margined_xl;
	--spacing-modifier: 1.5;
}

.expandable_topics_inner {

	@media #{$min_md} {
		display: flex;

		gap: 30px;
	}

	@media #{$min_lg} {
		gap: 50px;
	}

	@media #{$min_xl} {
		gap: 80px;
	}
}

.expandable_topics_visuals_wrapper {
	display: none;

	position: relative;

	aspect-ratio: $classic;

	@media #{$min_md} {
		width: 350px;
		display: block;
	}

	@media #{$min_lg} {
		width: 500px;
	}

	@media #{$min_xl} {
		width: 750px;
	}

	@media #{$min_xxl} {
		width: 940px;
	}
}

.expandable_topics_figure {
	@include responsive_image;

	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;
	transition: opacity 0.5s;

	&.fs-swap-active {
		opacity: 1;
	}
}

.expandable_topics_image {
	border-radius: 5px;
}

.expandable_topics_accordion_wrapper {
	border-top: 1px solid rgba($black, 0.1);

	@media #{$min_md} {
		width: calc(100% - 380px);

		border-top: none;
	}

	@media #{$min_lg} {
		width: calc(100% - 550px);

		margin-top: 40px;
	}

	@media #{$min_xl} {
		width: calc(100% - 830px);
	}

	@media #{$min_xxl} {
		width: calc(100% - 1020px);
	}
}

.expandable_topic {
	display: flex;

	align-items: flex-start;
	border-bottom: 1px solid rgba($black, 0.1);
	flex-direction: column;

	@media #{$min_md} {
		position: relative;

		border-bottom: none;
		transition: border-color $base_speed;
	}
}

.expandable_topic_figure {
	@include responsive_image;
	display: none;

	.expandable_topic.fs-swap-active & {
		display: block;

		@media #{$min_md} {
			display: none;
		}
	}
}

.expandable_topic_image { }

.expandable_topic_title {
	@include body_text;

	color: $black;
	font-weight: 700;
	margin: 0;
	padding-block: 20px;
	transition: color $base_speed, padding-block $base_speed;

	@media #{$min_md} {

		&:after {
			width: 100%;
			height: 1px;
			display: block;

			position: absolute;
			right: 0;
			top: 0;

			background: rgba($black, 10%);
			content: '';
			transition: width $base_speed, background-color $base_speed;
		}
	}

	.expandable_topic.fs-swap-active & {

		@media #{$min_md} {
			padding-block: 30px 20px;

			&:after {
				background: $turquoise_dark;
			}
		}

		@media #{$min_lg} {
			padding-block: 40px 20px;

			&:after {
				width: calc(100% + 100px);
			}
		}

		@media #{$min_xl} {
			padding-block: 50px 20px;

			&:after {
				width: calc(100% + 125px);
			}
		}
	}

	@include hover(true, true) {
		color: $turquoise_dark;
	}
}

.expandable_topic_description {
	@include caption_text;
	display: none;

	margin-top: -6px;

	.expandable_topic.fs-swap-active & {
		display: block;
	}
}

.expandable_topic_link {
	@include sgu_button($blue_navy, $white);
	display: none;

	margin-block: 20px 40px;
	transition: margin-block $base_speed;

	.expandable_topic.fs-swap-active & {
		display: block;

		@media #{$min_md} {
			margin-block: 20px 40px;
		}

		@media #{$min_lg} {
			margin-block: 20px 50px;
		}

		@media #{$min_xl} {
			margin-block: 20px 60px;
		}
	}
}
